[2016-11-07 13:05] hudochenkov opened #1 "declaration-block-order: Support `selector` for rules"
Config:

[code]

`selector` is RegEx for selector matching.

It will match:

[code]

Won't match:

[code]

Proposed https://github.com/stylelint/stylelint/issues/1500#issuecomment-230105435

[2016-11-14 00:17] hudochenkov opened #2 "declaration-block-property-groups-structure should use internal rules for order"
Because stylelint's `declaration-block-properties-order` going to be deprecated in stylelint@8.0.0 `declaration-block-property-groups-structure` should check order using this plugins rules or by itself.

[2016-11-29 08:35] PsiXdev commented on #1
Discussed in #3. Need extend this config by *hasBlock* property to support mixins such as `.my-mixin();` less mixin.

[2016-11-29 08:43] PsiXdev opened #5 "declaration-block-order: Support Less variables"
As I wrote in this comment https://github.com/hudochenkov/stylelint-order/pull/3#issuecomment-263495948, it would be nice to support Less variables. We want to describe variables in the beginning of the rules, for example.

[code]

I think that this problem may be solved by adding RegEx patterns to declarations config, but you can simply add a new type, like dollar-variables.

[2017-02-08 13:54] in-in opened #7 "Migration tips"
Unfortunately stylelint removed `declaration-block-properties-order` and forces to use stylelint-order.
But stylelint-order overcomplicated compared with `declaration-block-properties-order` in stylelint.
Can you provide some example how my stylelint config should looks in  stylelint-order world?
https://gist.github.com/in-in/c261ee397999bec6f8294abd50adfb9d
Thanks.

[2017-02-08 22:13] cascornelissen opened #8 "Plans on supporting order: flexible?"
Are there any plans to support flexible ordering?

[code]

See bullet point #2 for _array-of-unprefixed-property-names-or-group-objects_ in the [Stylelint documentation](https://stylelint.io/user-guide/rules/declaration-block-properties-order/#array-of-unprefixed-property-names-or-group-objects) for more info.

[2017-02-08 22:40] hudochenkov commented on #8
I have no plans to add this rule. But I'm open for a PR with this rule. It should be named `declaration-block-properties-flexible-order`.

[2017-02-08 22:45] hudochenkov commented on #7
You should install `stylelint-order`:

[code]

Then add plugin to config (`plugins` section):

[code]

And configure `order/declaration-block-properties-specified-order` rule:

[code]

[2017-02-08 22:47] hudochenkov opened #9 "declaration-block-order: Support Less mixins"

[2017-02-08 22:47] hudochenkov commented on #1
Created separate issue for Less mixins #9

[2017-02-08 22:47] #1 closed

[2017-02-08 22:48] #2 closed

[2017-02-08 22:49] hudochenkov commented on #1
Done in https://github.com/hudochenkov/stylelint-order/commit/37e6912de2d58c0ecd087df1bba8a64949871e7b

[2017-02-08 22:50] hudochenkov commented on #2
Done in https://github.com/hudochenkov/stylelint-order/commit/f1b7c8933074dcae05a3bd88bcc1a9c167725254

[2017-02-09 00:14] in-in commented on #7
It will work with stylefmt?

[2017-02-09 07:16] cascornelissen commented on #8
I probably don't have time to do this myself in the next few weeks but I might be able to take a look at it later. If anyone else wants to work on this; go ahead!

For reference: https://github.com/stylelint/stylelint/blob/master/lib/rules/declaration-block-properties-order/index.js

[2017-02-09 07:21] hudochenkov commented on #7
No. You could use [`postcss-sorting`](https://github.com/hudochenkov/postcss-sorting/), but it requires separate setup and config.

[2017-02-09 13:28] in-in commented on #7
I checked readme of that tool and I can’t find information about autofix feature

[2017-02-09 14:08] hudochenkov commented on #7
There no “autofix”. You should run it like stylefmt, but it has config different than stylelint. Actually stylefmt uses postcss-sorting under the hood.

For your case config for `postcss-sorting` will look like:

[code]

[2017-02-09 16:44] in-in commented on #7
But why you recommend that tool?

[2017-02-09 17:43] hudochenkov commented on #7
Because I'm the author of both these plugins ¯﻿\﻿_﻿(﻿ツ﻿)﻿_﻿/﻿¯ `stylelint-order` checks the order, `postcss-sorting` sort stylesheets in required order. Currently you have to use different configuration for them. `stylefmt` doesn't support `stylelint-order`rules, so you have to use `postcss-sorting` if you want to use tools which will check properties order and sort them for you.

[2017-02-09 18:08] in-in commented on #7
Ok now I get it
postcss-sorting works with stylefmt, right?

[2017-02-09 18:13] hudochenkov commented on #7
Not exactly, stylefmt uses postcss-sorting, but users don't know about it :)

[2017-02-12 20:47] thasmo opened #10 "Add option `minimumLines` to ignore `emptyLineBefore` if group has less than specified amount of properties"
The given rules
[code]
will warn about this: (empty line before `font-family` missing)
[code]
but will be fine i.e. ignore this: (`font-family` is only 1 line of the specified group)
[code]

That would be helpful! :) Thanks for the awesome plugin!

[2017-02-12 21:16] thasmo opened #11 "Add option `noEmptyLineBetween` to prevent empty lines between properties within a configured group"
The given rule
[code]
will show a warning for this: (the empty line should be removed)
[code]
but will be fine i.e. ignore this: (current behavior without the new option anyway)
[code]

[2017-02-13 10:39] pawelgrzybek commented on #7
Hi @hudochenkov .

Very related question. I managed how to get stylelint-orderwworking fine with stylelint config file. I have a small issue when I use global .stylelintrc file that sits on my root directory. How should I specify `configBasedir` to get it work?

Thanks in advance and thanks for amazing plugins mate!

[2017-02-13 16:59] #7 closed

[2017-02-13 17:08] hudochenkov commented on #7
@pawelgrzybek I suppose you're using globally installed `stylelint` with global `.stylelintrc`? I believe you don't need to specify `configBasedir`. Just install `stylelint-order` globally: `npm i -g stylelint-order`.

[2017-02-13 17:26] pawelgrzybek commented on #7
Yeah, it is correct @hudochenkov, I use globally installed `stylelint` + global `.stylelintrc`.

Your recommendation is what I initially thought. Unfortunately my editor cannot find `stylelint-order` without `configBasedir`. Will try to set that up one more time later on and let you know when I find out a solution.

Thanks again.

[2017-02-13 17:30] hudochenkov opened #12 "declaration-block-order: Improve warning messages"
[Current implementation](https://github.com/hudochenkov/stylelint-order/blob/37e6912de2d58c0ecd087df1bba8a64949871e7b/rules/declaration-block-order/index.js#L253):

Message: `Expected ${first} to come before ${second}`.

Possible variations:

Matched pattern | Node description it produce
---|---
custom-properties | `custom property`
dollar-variables | `$-variable`
declarations | `declaration`
at-r

[2017-02-13 17:55] hudochenkov commented on #7
@pawelgrzybek indeed, I was wrong. You need to install `stylelint-order` in the same directory where your global config is. Just run `npm i stylelint-order`.

[2017-02-14 09:13] pawelgrzybek commented on #7
O wow. Thats a bit messy. Don't you think so. My home folder isn't probably the best place to keep `node_modules`. Thanks for advice confirmation mate. There must be a bit better solution for that, I will figure it out and let you know...

[2017-02-14 09:29] hudochenkov commented on #7
Yeah, it's messy. This is why it's recommended to have stylelint with its plugins installed for every project like every other dependency.

[2017-02-14 12:38] jeddy3 commented on #12
These all look good to me. My only suggestion would be to drop `nested` as the rule is already scoped to declaration blocks (`declaration-block-*`) e.g.

[code]

[2017-02-18 08:12] dangreen opened #13 "Deprecation Warning: 'declaration-block-properties-order' has been deprecated and in 8.0"
With `order/declaration-block-property-groups-structure` rule stylelint prints next warning:
[code]

[2017-02-18 08:19] dangreen commented on #13
I think you should update package on npm, because [this commit](https://github.com/hudochenkov/stylelint-order/commit/f1b7c8933074dcae05a3bd88bcc1a9c167725254) fixes this issue.

[2017-02-18 10:13] hudochenkov commented on #12
Thank you, @jeddy3 :)

[2017-02-18 10:13] #12 closed

[2017-02-18 11:23] hudochenkov commented on #13
Thank you for reporting! Please, update to `0.3.0`.

[2017-02-18 11:23] #13 closed

[2017-02-18 11:25] hudochenkov commented on #5
Thank you for suggestion! Use new `at-variables` keyword for `declaration-block-order` in `0.3.0`.

[2017-02-18 11:25] #5 closed

[2017-02-18 11:25] hudochenkov commented on #9
Thank you for suggestion! Use new `less-mixins` keyword for `declaration-block-order` in `0.3.0`.

[2017-02-18 11:25] #9 closed

[2017-02-18 11:38] hudochenkov commented on #11
Thank you for suggestion! It seems legit because I can't find a way to configure `declaration-empty-line-before` so it won't be conflicted with `declaration-block-property-groups-structure`.

[2017-02-18 11:52] hudochenkov commented on #10
I'm not sure `minimumLines` option is viable.

What it should do if there less properties than `minimumLines`? Ignore `emptyLineBefore` for this group or revert it?

If `emptyLineBefore` will be ignored, with a config above this won't be considered as warning:

[code]

[code]

If `emptyLineBefore` will be reverted, with a config above this won't be considered as warning:

[code]

This will be a wa

[2017-02-18 12:53] thasmo commented on #10
Maybe it should just be ignored, so it's allowed to skip the empty line but it will be no error with the empty line?

[2017-02-27 16:55] christianvuerings opened #14 "Support for CSS Modules / composes"
Would be great if we could support CSS Modules, especially the [`composes` rules](https://github.com/css-modules/css-modules#composition).

[code]

currently fails with

[code]

if we have the following config:

[code]

[2017-02-27 17:00] christianvuerings commented on #14
Looks like this can be done by using `declaration-block-properties-specified-order`

[2017-02-27 17:00] #14 closed

[2017-02-27 17:12] jeddy3 commented on #14
Yep, use the `unspecified: "bottomAlphabetical"` secondary option.

[code]

[2017-02-28 00:01] christianvuerings commented on #14
@jeddy3 that's what we're doing now, thank you so much!

[2017-03-02 16:40] hudochenkov commented on #8
Stylelint's `declaration-block-properties-order` includes three types of order: strict, flexible, and alphabetical. This rule was dropped from stylelint core, because it was doing too much. So in this plugin we have more specified rules for different types of order. So this is the first point to have flexible order in a separate rule.

On the other side it will be a code duplication, because `flex

[2017-03-07 18:20] stormwarning opened #16 "Invalid Option error for declaration-block-order"
I'm getting the following error message from Stylelint:
[code]

In my `.stylelintrc` I have the following:
[code]

Removing the two rule objects clears up the error. Am I escaping the regex incorrectly or something?

[2017-03-07 18:29] hudochenkov commented on #16
You don't need `\/` at the start and at the end in JSON:

[code]

[2017-03-07 20:41] stormwarning commented on #16
Unfortunately, I still get the same error message. Even removing the regex altogether and just using a plain string for the `selector` gives me the same error:
[code]

[2017-03-07 21:01] hudochenkov commented on #16
What version do you use? You should be using `0.3.0`.

BTW, in `.stylelintrc` above you have `"order\/declaration-block-order"` while it should be `"order/declaration-block-order"`.

[2017-03-07 21:09] stormwarning commented on #16
I thought it might have something to do with a [Stylelint config](https://github.com/stormwarning/stylelint-config-recess-order) my config extends—which used the stylelint-order plugin but was a version behind—but updating that package to use the latest stylelint-order version doesn't seem to have fixed anything.

[2017-03-07 22:35] hudochenkov commented on #16
Can you check the version, please? Run `npm list | grep "stylelint-order"` if you on mac or linux.

Also can you share your full `.stylelintrc`?

[2017-03-07 22:50] stormwarning commented on #16
Sure thing; it's pretty verbose so I put it up in a gist: https://gist.github.com/stormwarning/7ff3d7a6d6bddfcdb66bff718beae913

`├── stylelint-order@0.3.0`

[2017-03-08 06:46] hudochenkov commented on #16
I have no idea what's wrong :( Because configuration is correct and your stylelintrc works great. Can you try to delete node_modules and reinstall everything again?

[2017-03-10 12:36] #8 closed

[2017-03-10 12:41] hudochenkov opened #17 "Merge properties-specified-order, properties-flexible-order, and property-groups-structure into new rule"
The more I think the more I realise that dividing stylelint's `declaration-block-properties-order` into more specific rules creates more confusion then clear state of thing. Rule's tidy couple with each other, share lots of code and big pieces of README.

Currently we have:
* `declaration-block-properties-specified-order`: strict order with `unspecified` option. Primary option: array of strings.
*

[2017-03-10 12:45] evilebottnawi commented on #17
@hudochenkov sgtm and the configuration looks pretty simple

[2017-03-10 13:16] swernerx commented on #17
That looks excellent for me.

[2017-03-10 13:19] cascornelissen commented on #17
As I've stated in #15 I agree it's becoming a bit of a mess. This solution would definitely work for us as well.

[2017-03-10 14:01] osk commented on #17
Clear and covers the use cases we have 👍🏽✨

[2017-03-10 14:18] hudochenkov commented on #17
By default it won't be set at all.

[2017-03-10 14:30] hudochenkov commented on #17
Thank you for your response! Any idea for a better name?

[2017-03-10 16:07] evilebottnawi commented on #17
@hudochenkov maybe `declaration-block-properties-order` :smile:

[2017-03-10 16:09] swernerx commented on #17
as it's already namespaced by the plugin name, why not just name it "properties-order"?

[2017-03-10 16:10] hudochenkov commented on #17
@evilebottnawi :) I like it, but as I said before, this rule concerned not only about order, but about emptyLineBefore also.

[2017-03-10 17:33] evilebottnawi commented on #17
@hudochenkov I think this can be omitted, primary function of this rule is order

[2017-03-11 05:53] BarryThePenguin opened #18 "smacss order"
Would you consider including a `declaration-block-properties-smacss-order` rule?

Similar request to cahamilton/stylelint-config-property-sort-order-smacss#1

I could put together a PR using https://github.com/cahamilton/css-property-sort-order-smacss

cc @cahamilton

[2017-03-11 07:14] hudochenkov commented on #18
There is no need for `declaration-block-properties-smacss-order` because it's just a config. I suggest migrate `cahamilton/stylelint-config-property-sort-order-smacss` to `stylelint-order`.

[2017-03-11 07:14] #18 closed

[2017-03-12 00:02] stormwarning commented on #16
It must have had something to do with the project I was on—I tried the config on a more recent project and didn't have any errors. Wiping out `node_modules` and re-installing seemed to do it. Looks like my editor plugin was using an out of date version of Stylelint which was also throwing me off.

Appreciate the help looking into the issue!

[2017-03-12 00:02] #16 closed

[2017-03-12 20:36] hudochenkov commented on #17
Just have released `0.4.0` with `properties-order`! Strict order, flexible order, and `emptyLineBefore` in one rule :)

Thank you, everyone, for discussion!

[2017-03-12 20:36] #17 closed

[2017-03-15 12:06] subzey opened #19 "Crash: TypeError: Cannot read property 'orderData' of undefined"
I am using **stylelint 7.9.0** with **stylelint-order 0.4.0** and it crashes on a specific LESS input.

The callstack:
[code]

Here's the setup to reproduce the crash.

`.stylelintrc.js`:
[code]

`test.less`:
[code]
As far as I understand, the crash happens if any LESS variable declaration follows any "regular" property.

Please ping me if you need any additional information or help.

[2017-03-15 14:04] hudochenkov commented on #19
Thank you for your report! Please, update to `0.4.1`.

[2017-03-15 14:04] #19 closed

[2017-03-28 11:56] aweiher opened #20 "order/order not working with scss properties shorthand"
Hi,

I have the problem that `stylelint-order´ recognize *scss properties shorthand* as a rule and not as a declaration.

Example:

[code]

Error:

[code]

My Config for declaration block order:

[code]

I think the error is not correct, as `padding` is a *declaration* and not a rule.

I am not sure if the following issues are related, but I will include them here:

- https://github.com/stylelint/

[2017-03-28 11:59] hudochenkov commented on #20
Thank you for reporting and research! I'll look into it soon.

[2017-03-29 12:16] hudochenkov commented on #20
Fixed in `0.4.2`.

[2017-03-29 12:16] #20 closed

[2017-03-30 10:31] doochik opened #21 "Custom properties parsing broken in 0.4.2"
This code works in 0.4.1 and broken in 0.4.2

[code]

JS error
[code]

[2017-03-30 10:59] #21 closed

[2017-03-30 11:02] hudochenkov commented on #21
Thank you for the report and fix! Please update to `0.4.3`.

[2017-04-04 08:03] jitendravyas opened #23 "Is there a way to auto order in source sass files legacy project?"

[2017-04-04 08:05] jitendravyas opened #24 "Do I need to use postcss-sorting if I'm already using stylelint-order?"
Is there any benefit of using postcss-sorting over stylelint-order with stylelint?

[2017-04-04 08:08] #23 closed

[2017-04-04 08:11] hudochenkov commented on #24
stylelint-order only checks if order is incorrect, while postcss-sorting changes the order in stylesheet. If you run postcss-sorting on each commit, I believe, you don't need stylelint-order, because your order will always be correct. But if you run postcss-sorting manually, you might forget to run it and commit with incorrect order. Then you'll see a warning from stylelint-order when you'll run t

[2017-04-04 08:11] #24 closed

[2017-04-04 08:14] jitendravyas commented on #24
Thanks for replying. I think there is a possibility of any regression if I change order (manually or automatic) I should check all pages website (legacy website) to make sure nothing is breaking.

[2017-04-04 08:21] hudochenkov commented on #24
Theoretically there could be regressions, but most likely there won't be any. Check your codebase with [`declaration-block-no-shorthand-property-overrides`](https://stylelint.io/user-guide/rules/declaration-block-no-shorthand-property-overrides/) rule just in case.

[2017-04-04 13:15] dwightjack opened #25 "Unspecified property causes validation error"
Hi I'm getting an error using a custom property order.

My configuration:

[code]

Relevant CSS code:

[code]

Output:

[code]

[2017-04-04 13:51] hudochenkov commented on #25
Thank you for reporting!

It's not a bug, it's a feature:

So `-moz-osx-font-smoothing` and `-webkit-font-smoothing` it's prefixed `font-smoothing`. Which in turn follow `font` position, because `font-smoothing` isn't specified in your config (but `font-smooth` is specified).

[2017-04-04 13:51] #25 closed

[2017-04-04 14:00] dwightjack commented on #25
Thank you for the explanation

[2017-04-11 12:17] bramwillemse commented on #13
I get the same warning with stylelint-order 0.4.3

[2017-04-11 12:20] hudochenkov commented on #13
@bramwillemse you most likely have `declaration-block-properties-order` in your stylelint config. `stylelint-order` doesn't have any code that related to `declaration-block-properties-order`.

[2017-04-11 12:24] bramwillemse commented on #13
@hudochenkov Thanks for the quick reply. I'm trying to find some examples how to implement the proper structure but can't really find it..

This is my current config:
`
{
    "plugins": [
        "stylelint-order",
        "stylelint-selector-bem-pattern"
    ],
    "rules": {
        "order/declaration-block-property-groups-structure": [
            {
                "order": "strict",

[2017-04-11 12:43] hudochenkov commented on #13
@bramwillemse I believe, you can rename `order/declaration-block-property-groups-structure` to `order/properties-order` and it'll do the trick. Also you can safely remove `"order": "strict"`.

[2017-04-11 12:51] bramwillemse commented on #13
@hudochenkov I've tried that, but doing that I get the following error:

`Error: Undefined rule order/properties-order
    at module.exports (<PROJECT>\node_modules\stylelint\lib\utils\configurationError.js:8:27)
    at <PROJECT>\node_modules\stylelint\lib\augmentConfig.js:279:13
    at Array.forEach (native)
    at normalizeAllRuleSettings (<PROJECT>\node_modules\stylelint\lib\augmentConfig.js:27

[2017-04-11 12:52] hudochenkov commented on #13
You aren't using `stylelint-order@0.4.3` then.

[2017-04-11 12:54] bramwillemse commented on #13
Yes I am...

[2017-04-11 13:09] bramwillemse commented on #13
Could it be an issue of gulp-stylelint using an older version of stylelint itself? I think I'll try and mitigate this by using postcss + stylelint on their own instead of using gulp-stylelint with all it's dependencies.

[2017-04-11 13:13] hudochenkov commented on #13
@bramwillemse it shouldn't. You can try to remove `node_modules` and reinstall everything.

[2017-04-11 14:39] bramwillemse commented on #13
@hudochenkov I already tried that before. To be sure I did it again, but that doesn't work.

[2017-04-11 15:07] hudochenkov commented on #13
@bramwillemse could you create a repository with reproducible problem? You're gulpfile, package.json, stylelint config and one stylesheet.

[2017-04-11 15:10] bramwillemse commented on #13
@hudochenkov Yeah, I'll try and do that. Might take a few days, since I have to get some work done first.. Thanks for your help!

[2017-04-11 15:29] bramwillemse commented on #13
Okay, I just set the correct (latest) version numbers in my package.json and did another npm install.
That took care of the deprecation warning.

The weird thing, it didn't do anything else. Turns out, my colleague changed the gulp config and broke stylelint (a few months back already...).

I don't really understand how 'npm view stylelint-order version' gave me the correct version number (same go

[2017-05-01 17:31] Nirazul opened #26 "Plugin complaining about blockless at-rule, even though it has one"
Hey there! I'm running into an error with following configuration:

[code]

The code:
[code]

The complaint:
[code]

It seems that the rule is misinterpreted as blockless even though it has one. The problem does not occur when I change the configuration to contain also at-rules with blocks. However, I don't want to restrict where to write them.

[2017-05-01 17:41] hudochenkov commented on #26
Could you correct error message, please? Your code sample doesn't have line 30.

[2017-05-01 17:44] Nirazul commented on #26
Sorry, I've stripped out a bit of unnecessary stuff. It chokes on this line: `@include mq('<=sm') {`

[2017-05-01 18:14] hudochenkov commented on #26
Thank you for reporting! Please update to `0.4.4`.

[2017-05-01 18:14] #26 closed

[2017-05-01 18:32] Nirazul commented on #26
Perfect, thanks for the fast help! 🥇

[2017-05-13 10:02] hudochenkov commented on #10
Sorry, this feature will never be implemented, because of rare use cases and it will lead to increased code complexity without real benefits.

[2017-05-13 10:02] #10 closed

[2017-05-23 20:39] TrevorSayre opened #27 "Add "unspecified-properties-position" rule"
https://github.com/hudochenkov/postcss-sorting/blob/master/docs/unspecified-properties-position.md

`unspecified-properties-position`
`string: "top"|"bottom"|"bottomAlphabetical"`

[2017-05-23 20:43] hudochenkov commented on #27
It's here https://github.com/hudochenkov/stylelint-order/blob/master/rules/properties-order/README.md#unspecified-topbottombottomalphabeticalignore

[2017-05-23 20:43] #27 closed

[2017-05-24 15:10] TrevorSayre commented on #27
Ah, it wasn't listed in the root README. Thank you for pointing me in the right direction.

[2017-05-24 15:13] hudochenkov commented on #27
@TrevorSayre No worries. I should make readmes more discoverable.

[2017-05-25 21:01] abierbaum opened #28 "Request: improve properties-order expect message"
When looking at an error message about property orders it would be nice if the message about  `Expected "a" to come before "b"` would tell you the first (ie. highest) property in the block that "a" needs to come before instead of just telling you the one that is currently above it.

For example in the css below, the z-index needs to come first.  But the message says `Expected "z-index" to come bef

[2017-05-25 21:39] hudochenkov commented on #28
I'll think about it.

In the mean time, you don't have to manual sort! There is fantastic tool to automate this — [postcss-sorting](https://github.com/hudochenkov/postcss-sorting).

[2017-05-26 15:22] abierbaum commented on #28
@hudochenkov That tool looks great.  Especially interested in the vscode plugin.  I can't find a way to share configuration though.  So for example if I have my stylelint.config.js file build up a set of ordering rules I would like to share them over to postcss-sorting (and into the vscode plugin) so I don't have to duplicate them.  I don't see a way to do this right now. :(

[2017-05-26 16:00] hudochenkov commented on #28
Currently you have to duplicate config. But [soon](https://github.com/hudochenkov/postcss-sorting/issues/23#issuecomment-303983265) (in a month or two) it wouldn't be necessary. You'll need only one configuration.

[2017-05-29 09:42] vwxyutarooo opened #29 "Bug? emptyLineBefore vs declaration-block-properties-order"
I think `emptyLineBefore` can't override `declaration-block-properties-order`. Which makes dedlock each other.

`.stylelintrc`

[code]

I supposed this shuld no errors.

[code]

But this error returned actually.

`Unexpected empty line before declaration`

Then, I tried to such as following

[code]

Also an error returns as following.

`Expected an empty line before propety -webkit-overflow-scroll

[2017-05-30 20:26] TrevorSayre opened #30 "Allow stylelint fix to make order changes?"
Is there a way for the `--fix` option of the stylelint CLI to handle these ordering rules automatically? Or is there a quick way to auto-fix css based on these ordering rules via some other CLI tool?

Once added, or if a solution exists, please add to README.

[2017-05-30 20:37] hudochenkov commented on #30
stylelint doesn't have `--fix` option released yet. Use [postcss-sorting](https://github.com/hudochenkov/postcss-sorting) for automatic sorting. It has almost the same config as stylelint-order.

[2017-05-31 05:32] jitendravyas commented on #30
Couldn't automatic sorting can have side effect?

[2017-05-31 05:49] hudochenkov commented on #30
It can, of course, but most likely you won't have any. Take a look on [Handling comments](https://github.com/hudochenkov/postcss-sorting#handling-comments) section. It worth to keep in mind. You can try postcss-sorting on your codebase and see if it's working as you want.

[2017-06-01 16:17] TrevorSayre commented on #30
Thanks, got this working via https://github.com/postcss/postcss-cli

[2017-06-04 10:39] hudochenkov commented on #29
Thank you for reporting!

It's not a bug. `stylelint-config-standard` [has `declaration-empty-line-before` enabled](https://github.com/stylelint/stylelint-config-standard/blob/84694a3723e2825f30316184fab4e94a20ccf965/index.js#L57-L66). `declaration-empty-line-before` and `emptyLineBefore` are checking the same thing — empty line before declaration. But they do it differently, this is why you see a

[2017-06-05 16:10] hotforfeature opened #31 "Feature: CSS order presets"
I use [Concentric CSS](https://github.com/brandon-rhodes/Concentric-CSS) as the basis for my CSS property ordering. Coming from `sass-lint`, there is a rule for [`property-sort-order`](https://github.com/sasstools/sass-lint/blob/develop/docs/rules/property-sort-order.md) that allows certain style presets such as alphabetical, [concentric](http://rhodesmill.org/brandon/2011/concentric-css/), [reces

[2017-06-05 16:41] hudochenkov commented on #31
You can use shareable config https://github.com/chaucerbao/stylelint-config-concentric-order. This config use stylelint-order.

[2017-06-05 17:08] hotforfeature commented on #31
That's perfect. Now that I know what to look for I also found

https://github.com/stormwarning/stylelint-config-recess-order
https://github.com/cahamilton/stylelint-config-property-sort-order-smacss

What d'you think about adding a "Presets" or some similar section in the readme that links to these three popular formats?

[2017-06-05 17:16] hudochenkov commented on #31
I don't think it's a good idea to have this section. Anyway, thanks for a research :)

[2017-06-05 17:16] #31 closed

[2017-06-06 13:35] vwxyutarooo commented on #29
@hudochenkov Thanks for replying.
I didn't notice that rules were able to disable by null.

[2017-06-06 13:35] #29 closed

[2017-06-09 18:05] hudochenkov commented on #30
stylelint-order 0.5.0 released! With autofixing!

[2017-06-09 18:05] #30 closed

[2017-06-11 00:28] brandondurham opened #32 "Undefined rule order/declaration-block-properties-specified-order"
My `.stylelintrc` config:

[code]

I’m working in Atom, and each time I update a CSS file I get the following error:

![image](https://user-images.githubusercontent.com/250210/27007275-46e620ce-4e1b-11e7-9052-fd0d4b4455fb.png)

I couldn’t spot anything obvious here. Appreciate any suggestions I can get.

[2017-06-11 09:02] hudochenkov commented on #32
This rule was deprecated in version 0.4. Please update your config. I think you only need to rename `order/declaration-block-properties-specified-order` to `order/properties-order`.

[2017-06-11 15:00] brandondurham commented on #32
That worked wonderfully. Thank you!

[2017-06-11 15:00] #32 closed

[2017-06-15 14:12] edwinwright opened #33 "Setting `properties-alphabetical-order: false` causes linting loop"
Testing in Atom, using the `linter` and `linter-stylelint` packages.
If you set `properties-alphabetical-order: false`, the linter treats it as true and runs this linting rule.
Expect that the rule is not run.

[2017-06-15 14:42] jeddy3 commented on #33
[Use `null`](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/faq.md#how-do-i-disable-a-rule) e.g. `"properties-alphabetical-order": null`.

[2017-06-16 09:07] edwinwright commented on #33
Thanks. Any plans to get this working with `false`?

[2017-06-16 09:12] hudochenkov commented on #33
I don't [think](https://github.com/stylelint/stylelint/issues/2611) so.

[2017-06-16 09:12] #33 closed

[2017-06-19 18:27] fleeting opened #34 "Descending specificity error with different classes."
I'm getting `Expected selector ".super-navigation ul a" to come before selector ".navigation ul a:hover"` with the following CSS:

[code]

[2017-06-19 18:29] hudochenkov commented on #34
Wrong repository. Looks like it's a core stylelint rule.

[2017-06-19 18:29] #34 closed

[2017-06-20 09:52] jeddy3 commented on #34
@fleeting FYI, this is being tracked in the stylelint issue tracker - https://github.com/stylelint/stylelint/issues/2489. The issue is labelled as `help wanted` and `beginner friendly`, so please consider contributing a fix if you'd like to see this issue resolved.

[2017-06-21 08:25] grumd opened #35 "Error: stylelint v3+ requires plugins to expose a ruleName"
Error: stylelint v3+ requires plugins to expose a ruleName. The plugin "C:\xxx\node_modules\stylelint-order\index.js" is not doing this, so will not work with stylelint v3+. Please file an issue with the plugin to upgrade.

[2017-06-22 09:50] #35 closed

[2017-07-17 12:58] evilebottnawi opened #37 "Release new version with support stylelint@8"
:+1:

[2017-07-17 20:13] hudochenkov commented on #37
[Done](https://github.com/hudochenkov/stylelint-order/releases/tag/0.6.0) :)

[2017-07-17 20:13] #37 closed

[2017-07-25 06:43] meduzen opened #38 "[Feature request] List unparsed properties"
I would find nice if _styleint-order_ could list the declarations of a stylesheet (SCSS) that are not parsed by this plugin. This would help to better spot potentially unwanted declarations and to better iterate on the list of `order/order` declarations while CSS evolve in time.

A property like `listUnparsed` would be great. What do you think? Is there any chance this could be a thing?

Thanks fo

[2017-08-10 10:14] chytreg opened #41 "Expected "some property" to come before "-styled-mixin0""
I have the following code:
[code]

and getting some strange expectation: `Expected "display" to come before "-styled-mixin0"`
Where does it come from? How can I prevent to skip this property to take part into ordering process?

[2017-08-10 16:54] tirli opened #42 "Disable properties-alphabetical-order rule"
Hi.
I'm using [stylelint-config-concentric-order](https://github.com/chaucerbao/stylelint-config-concentric-order) based on your package. But then I'm getting an error both from properties-order and alphabetical-order rules.
I've tried to write `"order/properties-alphabetical-order": false` in a config, but seems like it doesn't disable the rule. Am I doing something wrong?

[2017-08-10 18:08] hudochenkov commented on #42
Could you provide your full stylelint config? What's your stylelint and stylelint-order versions? What errors do you get?

To [disable a rule](https://stylelint.io/user-guide/faq/#how-do-i-turn-off-disable-or-ignore-a-rule) use `null`:

[code]

[2017-08-11 08:23] tirli commented on #42
@hudochenkov Thanks. Using `null` helps me. Sorry for disturbing. Also, I think that this issue should be created in [stylelint-config-concentric-order](https://github.com/chaucerbao/stylelint-config-concentric-order) package, not in yours

[2017-08-11 08:23] #42 closed

[2017-08-11 08:25] hudochenkov commented on #42
No worries.

I don't see a problem with `stylelint-config-concentric-order`. They don't enable `order/properties-alphabetical-order` rule.

[2017-08-11 11:44] tirli commented on #42
@hudochenkov
Hmm...I'm not enabling it too. Here is my stylelintrc
[code]
And there are errors if I remove ` "order/properties-alphabetical-order": null`.
I'm using such versions:

[code]

[2017-08-11 11:47] hudochenkov commented on #42
The guilty is [found](https://github.com/bjankord/stylelint-config-sass-guidelines/blob/81323826dffaaa6b39c522d4698f21f365903a1c/index.js#L39) :)

[2017-08-29 09:17] wojtask9 commented on #28
This would be a great improvement for `stylelint-scss` users.
Are there any plans to resolve this issue ?

[2017-09-01 09:11] satazor opened #43 "Add wildcard to match rules"
In the newest versions, `stylelint-order` does not handle shorthand properties which is very unfortunate but understandable.

This means that we must specify all properties which is very verbose. For instance, I want to group border properties and there are 33+ border-* properties.

What if we could support `border-*` to match rules? This would be very helpful.

[2017-09-19 22:35] cmalard opened #44 "[properties-alphabetical-order] Prefixed properties doesn't precede the unprefixed version"
**"stylelint-order": "^0.6.0"**

Hello there,
[code]
It should be the contrary, any idea why it's happening ?

`.stylelintrc`
[code]

[2017-09-20 06:21] #44 closed

[2017-09-24 21:41] hudochenkov commented on #38
Sorry, I don't see this feature in the scope of this plugin. Most likely only a few people would need such functionality.

[2017-09-24 21:41] #38 closed

[2017-09-24 22:04] hudochenkov commented on #28
This kind of messages might be helpful if only one property is misplaced. But if there are multiple properties misplaced, there will be the same confusion.

For example, we have following config and CSS:

[code]

[code]

And there are warnings:

[code]

You follow first warning and move `margin`:

[code]

Then follow second warning and move `padding`:

[code]

Boom, you followed warnings but ended

[2017-09-24 22:04] #28 closed

[2017-09-25 10:38] wojtask9 commented on #28
Maybe something like this:
if there is only one 'warning' then report
`Expected "margin" to come before "padding"`
otherwise  report full order
`Expected order "margin, padding, width"`

[2017-09-27 16:44] ctf0 opened #46 "cant install with stylelint 8.1.1"

[2017-09-27 18:20] hudochenkov commented on #46
Please explain.

[2017-09-27 18:32] ctf0 commented on #46
atm i have styline 8.1.1 globally installed but the package require
https://github.com/hudochenkov/stylelint-order/blob/4be7f5dcf3f63e35b5e366c65c71283f514e1a01/package.json#L35

so i cant install it and keep getting error for not finding peerDependencies

[2017-09-27 18:34] hudochenkov commented on #46
Where stylelint-order is installed? Where is your stylelint configuration located?

[2017-09-27 18:35] ctf0 commented on #46
am also trying to install `stylelint-order` globally , the stylelint configuration is at `~/.stylelintrc.json`

[2017-09-27 19:23] hudochenkov commented on #46
Then you need to install it in your user directory `~/`.

[2017-09-27 20:16] ctf0 commented on #46
am kinda lost, shouldn't `npm install stylelint-order -g` suffice ?

[2017-09-27 20:23] hudochenkov commented on #46
stylelint will look for plugins starting from config directory and won't look into global packages.

[2017-09-27 20:29] ctf0 commented on #46
ah okay, i know its not related to u but honestly this is dump, as now the package wont be updateable like any other npm package, and will make the home path even more polluted.

still thanx for ur help.

[2017-09-27 20:29] #46 closed

[2017-09-27 22:02] hudochenkov commented on #46
Recommended to have linters (and almost any other Node.js tools) installed on per project basis and not globally.

[2017-10-05 09:44] igoradamenko opened #47 "Bug when sorting properties & variables"
Hi!

I have a problem with autofix. When I have this stylesheet:

[code]

And stylelint config like this:

[code]

After running `stylelint --fix` I get:

[code]

But I've expected to get:

[code]

Is it a bug, or I should to update my stylelint config by adding some rules?

[2017-10-05 10:50] igoradamenko commented on #47
@hudochenkov, AFAIK stylelint-order uses postcss-sorting. Should I move this issue to its repo?

[2017-10-05 10:51] hudochenkov commented on #47
It's not a bug. This plugin doesn't care about empty lines, so with `--fix` only order changes. And as you can see `left` has an empty line before and it preserved.

Consider using [`declaration-empty-line-before`](https://stylelint.io/user-guide/rules/declaration-empty-line-before/) rule to achieve desired results:

[code]

[2017-10-05 10:51] #47 closed

[2017-10-05 11:02] igoradamenko commented on #47
It's strange behaviour.

Honestly, I already use this rule and it does not help.

But anyway thank you :-)

[2017-10-05 12:23] jeddy3 commented on #47
Could this be an order-of-execution thing i.e. `declaration-empty-line-before` is run before the reordering of properties? Would placing `order/properties-order` above `declaration-empty-line-before` in the config help here? @igoradamenko Can you try that?

[2017-10-05 13:20] igoradamenko commented on #47
Wow! Thank you, @jeddy3. It works now! I didn't think that place of rule matters 🐨

[2017-10-05 15:51] jeddy3 commented on #47
No worries.

It didn't when stylelint just linted code; the rules could execute in any order. However, now that stylelint can autofix code, there is the problem that sometimes a rule changes the code in someway that invalidates another rule _that has already run_. I don't think we a solution to it yet, mainly because it's a difficult problem and that this is only the first time it has been reporte

[2017-10-06 15:01] tenorok opened #48 "Grouping properties by separator"
Hello, thank you for helpful project!

Is it possible to break a solid list of properties by groups?

Let's Consider the example, for this config:
[code]

It's will be the result with empty line between two groups:
[code]

Do we have appropriate option in config now?

[2017-10-06 17:31] jeddy3 commented on #48
See the "group objects" part of [the docs](https://github.com/hudochenkov/stylelint-order/blob/master/rules/properties-order/README.md#options):

[code]

[2017-10-06 20:04] tenorok commented on #48
Oh, I somehow missed this place in the docs. Thank you for fast answer!

[2017-10-06 20:04] #48 closed

[2017-10-21 05:45] EthanRutherford opened #49 "Fix mode ignores order: flexible"
When running stylelint with the autofix option, groups marked "flexible" will be reordered to match the defined order, instead of being correctly left alone (as "flexible" should indicate)

[2017-10-21 08:07] hudochenkov commented on #49
It's a known [caveat](https://github.com/hudochenkov/stylelint-order/blob/master/rules/properties-order/README.md#autofixing-caveats). Unfortunately there is nothing I can do. You can disable autofix for properties order if you like.

[code]

[2017-10-25 23:05] spaceninja opened #50 "Alphabetical order exception for overriding shorthand declaration?"
When I have `order/properties-alphabetical-order` I get a conflict with the following code:

[code]

If I sort alphabetically, then the bottom border color gets overridden by the shorthand. Is there a way to resolve this?

[2017-10-25 23:26] hudochenkov commented on #50
It's possible by using `properties-order` only. You can create a list of all properties in a config, sort them alphabetically and then fix whatever seems incorrect.

[2017-11-01 15:56] ismail-syed opened #51 "Don't autofix CSS if there no violations found"
👋  The `order/order` rule seems to be creating some unexpected behavior.

I've documented and created a reproducible example here: https://github.com/ismail-syed/stylelint-order-order-bug

tl;dr:
* `order/order` is applying fixes when it originally never report lint errors
* `/* stylelint-disable order/order */` doesn't work. I suspect this is because the lint errors aren't being reported as expec

[2017-11-01 16:33] hudochenkov commented on #51
Thank you for reporting and created a repository with the reproducible example!

Let me explain why it's happening.

1\. `--fix` is an experimental feature and it currently [ignores](https://stylelint.io/user-guide/cli/#autofixing-errors) `/* stylelint-disable */` when rule support auto fixing and auto fix is enabled.

2\. `stylelint-order` uses `postcss-sorting` for auto fixing. If auto fixing is

[2017-11-01 16:42] hudochenkov commented on #49
In the next version, the behavior will be much better. It might occasionally change order, but if violations were reported only https://github.com/hudochenkov/stylelint-order/issues/51#issuecomment-341161038.

[2017-11-01 18:27] ThePeach opened #52 "introduce fuzzy selector for properties"
I've found the ordering of the properties a bit tedious, I wonder if it's possible to introduce a fuzzy ordering of some sort, e.g.:

    [ "border", "border-*" ]

the following statement won't cause a warning:

    .rule {
      border: 10px solid red;
      border-bottom: 5px;
      border-right-color: green;
    }

where the fuzzy properties are going to be ruled by either `unspecified` or by i

[2017-11-10 01:26] danahartweg opened #53 "Properties with prefixes ignored when defined in group object"
When only the base property is defined in the group object in the `properties` key, any rules with that prefix are seemingly ignored by the plugin. Is this just the nature of using group objects to define sets of ordered properties?

Given:

[code]

The following will not present an error:

[code]

[2017-11-10 15:07] Linkw3b opened #54 "Stylelint don't lint anymore after adding style-order in plugins"
Hi there,

I'm trying to configure my `.stylelintrc` with stylelint-order but when I add `stylelint-order` to `plugins`, stylelint no longer detect any problems.

I'm using stylelint 8.2.0 and stylelint-order 0.7.0.

Any clue ?

![stylelint-order](https://user-images.githubusercontent.com/3274232/32664278-0b9f0e7a-c631-11e7-858d-06a9972cbdb5.gif)

[2017-11-10 15:17] hudochenkov commented on #54
Can you share your config?

[2017-11-10 15:44] Linkw3b commented on #54
.stylelintrc

[code]

package.json
[code]

[2017-11-11 00:10] mattfelten opened #55 "Keep properties-alphabetical-order while giving property-order groups extended rules"
What I'd like to do is be able to group CSS for certain groups, but leave the rest of the declarations in alphabetical order. As an example, I only want `position` lines to be separate.

[code]

I've gotten the group to kind of work with
[code]

But it's saying `Expected position to come before width` so the rule wants the group to still be in order. If I turn off `properties-alphabetical-order` t

[2017-11-11 10:53] hudochenkov commented on #52
There was such functionality, but it was removed in v0.5.0 as it caused ambiguity.

E. g.:

[code]

[code]

`border-bottom-color` will be overritten in browser by `border-color`.

I don't have plans to bring it back.

[2017-11-11 10:53] #52 closed

[2017-11-11 11:00] hudochenkov commented on #53
By prefixes this plugin understand only browser prefixes like `-webkit-`, `-moz-`, etc.

As I understand you want to target both `font` and `font-weight` by specifying only `font` in config. It's not possible, and I don't have plans to do this https://github.com/hudochenkov/stylelint-order/issues/52#issuecomment-343656487

BTW, `order: "strict"` doesn't exists. Only `order: "flexible"` exist. When

[2017-11-11 11:00] #53 closed

[2017-11-11 11:05] hudochenkov commented on #55
Sorry, I don't understand your question.

You can't use `properties-order` and `properties-order-alphabetical` simultaneously.

Have you seen [`unspecified`](https://github.com/hudochenkov/stylelint-order/blob/master/rules/properties-order/README.md#unspecified-topbottombottomalphabeticalignore) optional secondary option for `properties-order`? Maybe it solve your problem.

[2017-11-11 11:19] hudochenkov commented on #54
I can't reproduce your problem using stylelint CLI. Can you create a repository with minimal reproducible example?

Could you verify that you use locally installed stylelint and not globally installed?
Could you try to reinstall node modules?

Looks like your editor is running something else, then what expected.

[2017-11-13 10:00] Linkw3b commented on #54
I add stylelint in my webpack stack and it works.
It seems to be a problem with VSCode and Atom.

Thanks for your help !

[2017-11-13 10:00] #54 closed

[2017-11-13 19:24] mattfelten commented on #55
After looking at `unspecified`, what I really want is `unspecified: "topAlphabetical"`. I want all unlisted properties to be at the top of the declaration in alphabetical order. Then the specific groups I specified underneath.

[2017-11-16 13:50] jsit commented on #28
Hm, I'd still like to see this as a possibility (a more informative error message) even though there are tools to automatically sort for you.

[2017-11-21 12:49] hangyangws opened #56 "unprefixed property names could support regular"
properties-order array list is too long,

and it not  support regular

[2017-11-25 10:09] hudochenkov commented on #56
Sorry, I don't understand what you're asking.

[2017-11-25 18:22] hangyangws commented on #56
This is part of the `.stylelinerc` in my project :

[code]

The problem is ：
If I do not consider the inner order that start with  flex .
The `order/properties-order` array values do not support regular expressions.
Such as given "is not support":

[code]

So developers have to Write all CSS listKeys."This behavior is very unwise"

[2017-11-25 18:22] hangyangws commented on #56
I am not very good at English expression, please forgive me

[2017-11-30 17:39] graphan commented on #48
I tried something like this and it does not work:
[code]

[2017-12-04 23:19] hudochenkov commented on #51
Fixed in [`0.8.0`](https://github.com/hudochenkov/stylelint-order/releases/tag/0.8.0). Thank you for reporting!

[2017-12-04 23:19] #51 closed

[2017-12-04 23:19] hudochenkov commented on #49
Fixed in [`0.8.0`](https://github.com/hudochenkov/stylelint-order/releases/tag/0.8.0). Thank you for reporting!

[2017-12-04 23:19] #49 closed

[2017-12-04 23:35] hudochenkov commented on #50
Currently, there is only one exception from “true” alphabetical order: prefixed properties will go before their unprefixed versions. `properties-alphabetical-order` could be improved to avoid situations with shorthands overwrites. [`declaration-block-no-shorthand-property-overrides`](https://github.com/stylelint/stylelint/tree/master/lib/rules/declaration-block-no-shorthand-property-overrides) has

[2017-12-04 23:49] hudochenkov commented on #55
The only way to achieve this is to add logic for `unspecified: 'topAlphabetical'`. It might be similar to [`unspecified: 'bottomAlphabetical'`](https://github.com/hudochenkov/stylelint-order/blob/4d1a9117b5e440bfc2491bc3f75a26901bdf7223/rules/properties-order/checkOrder.js#L52-L66).

The same option should be added to [postcss-sorting](https://github.com/hudochenkov/postcss-sorting/blob/master/lib

[2017-12-04 23:54] hudochenkov commented on #56
Thank you for your explanation!

This functionality won't be added. Please, read my explanation in similar issues: https://github.com/hudochenkov/stylelint-order/issues/43, https://github.com/hudochenkov/stylelint-order/issues/52.

[2017-12-04 23:54] #56 closed

[2017-12-07 16:20] DannyvanHolten opened #57 "Add option to delete the first-nested empty line"
The given rule

[code]

will show a warning for this: (the empty line should be removed)

[code]

but will be fine i.e. ignore this: (current behavior without the new option anyway)

p {
	position: relative;
	display: block;
}

[2017-12-07 16:27] DannyvanHolten commented on #57
I'm sorry: `declaration-empty-line-before` already does that.

[2017-12-07 16:27] #57 closed

[2018-01-17 00:31] nielsenramon opened #58 "Error: Undefined rule order/properties-order"
I keep getting the following error in both Atom and Command line:
<img width="486" alt="screen shot 2018-01-17 at 01 30 20" src="https://user-images.githubusercontent.com/1246672/35019224-012b5618-fb26-11e7-8db5-0fb05ee8f8d9.png">

My package.json has the following:
[code]

My .stylelintrc looks like this:
[code]

Any idea what I am doing wrong?

[2018-01-17 07:20] hudochenkov commented on #58
You need to add `stylelint-order` to `plugins` section, not to `extends`:

[code]

Also:

[code]

[2018-01-17 13:57] nielsenramon commented on #58
@hudochenkov You were absolutely right, missed that completely! Thanks!

[2018-01-17 13:57] #58 closed

[2018-01-22 11:35] pentzzsolt opened #59 "Don't apply properties-alphabetical-order autofixing if there no violations"
With the `properties-alphabetical-order` set to `true`, the following code will throw no errors:

[code]

However, the `--fix` flag will scramble the code to the following:

[code]

Stylelint version `8.4.0`, stylelint-order version `0.8.0`.

[2018-01-22 12:26] hudochenkov commented on #59
This is happening because `padding: {}` treated as at-rule by SCSS parser. There is nothing I can do about it. I would suggest refactoring code to:

[code]

[2018-01-22 12:41] pentzzsolt commented on #59
Unfortunately our team has a setup where we require nested properties via the [`declaration-nested-properties`](https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/declaration-nested-properties/README.md) rule of [`stylelint-scss`](https://github.com/kristerkari/stylelint-scss), so refactoring is not an option.

[2018-01-22 13:11] hudochenkov commented on #59
Could you show your whole config, please?

[2018-01-22 13:49] pentzzsolt commented on #59
Well the entire `package.json` is rather long and somewhat _confidental_, but I removed everything, tested the following environment and successfully reproduced the behavior:

`package.json`:

[code]

`styles.scss`:

[code]

After running `npm install`, running `npm run stylelint` shows no errors, but `npm run stylelint -- --fix` will change `styles.scss`.

The strange thing to me in this is, if t

[2018-01-22 20:14] hudochenkov commented on #59
Indeed, this shouldn't happen. Since `0.8.0` `order` and `properties-order` doesn't apply fixes if there were no violations. Somehow I missed `properties-alphabetical-order` while making this change.

Thank you for a report.

[2018-01-22 20:25] pentzzsolt commented on #59
I am more than happy to help!

[2018-01-22 20:53] hudochenkov commented on #59
It would be great! You can check how I changed behavior for `order` https://github.com/hudochenkov/stylelint-order/commit/6b0c03642e2114df32762a6392d394e6cc047ceb.

For `fix` enabled. Old algorithm: fix and don't check for violations. New algorithm: check for violations. If there a violation — don't report it, set a variable `shouldFix` to `true` and skip all next checks, because we already know w

[2018-01-26 15:32] graphan commented on #48
Solution: you need to set `"declaration-empty-line-before": null` before `order/properties-order`.

[2018-02-05 17:32] lee-chase opened #60 "--fix with order/order sometimes moves unspecified nodes to bottom"
Using Stylelint --fix with stylelint-config-sass-guidelines results in unspecified nodes sometimes being moved to the bottom of a block;

e.g. This will not result in an order change
[code]

However, moving $blue down one line, moves both the variable declaration and the @mixin.

[code]

Resulting in
[code]

[2018-02-05 19:21] hudochenkov commented on #60
First example, does follow [the config](https://github.com/bjankord/stylelint-config-sass-guidelines/blob/ff104af541b38861af2ff9440fc394e4c11f2ddb/index.js#L38-L59). No violations would be reported, so autosorting doesn't kick in.

Second example do violate config, so autosorting kicks in. All undefined items always goes after defined items. `@mixin` doesn't defined in config, that's why it goes t

[2018-02-05 21:17] lee-chase commented on #60
Understand this fully, spent quite a bit of my afternoon trying to understand why one config with did re-order but another did not. Took a while to hone in on an example as stylelint-property-sort-order-smaccs uses v0.6.0 (a good reason for this to go v1 some time as ^0 means there are multiple versions in my node_modules).

I agree that unspecified items should go at the bottom, just think it sho

[2018-02-05 22:36] hudochenkov commented on #60
Indeed. API is quite stable now.

When we check order (not fixing), we can ignore undefined things. But when fixing — it's impossible to ignore, because we're changing position of items before and after undefined thing. We can't ignore undefined thing, as it should have place. So we have only two options when fixing — put before (`'order/order': [['rules'], { unspecified: 'top'}]]`) or after (`'or

[2018-02-05 22:37] #55 closed

[2018-02-06 09:33] lee-chase commented on #60
In order/order you suggested this order: custom-properties, dollar-variables,  @includes without block, @mixins without block, declarations, @includes with blocks, @mixins with block.

Typically I declare @functions before @mixins and @mixins before @includes, mostly because I tend to declare before use. Your suggestion would place @mixins after @includes. Just interested to know if that was a del

[2018-02-06 11:47] lee-chase commented on #60
Thinking about this further, in SCSS @if, @each etc all need to be left in place and would never have a specified position. As a result, I now think moving any unspecified is a bug.

Moving @if to the end in the following example is a change in function. I now find myself having to check every fix manually, or not use --fix at all.

[code]

[2018-02-19 12:06] evilebottnawi opened #61 "Support `stylelint@9`"
:star:

[2018-02-19 12:15] hudochenkov commented on #61
Thanks for the reminder! Released `0.8.1`.

[2018-02-19 12:15] #61 closed

[2018-02-19 21:27] hudochenkov commented on #60
It was just example. On projects, where I use PostCSS only, there is a [postcss-mixins](https://github.com/postcss/postcss-mixins) plugin, which have `@mixin` (similar to Sass `@include`) and `@define-mixin` (similar to Sass `@mixin`).

Sure. I don't think it's possible to have `@mixin` without a block (`{}`), so here is an example for `@include`:

[code]

Given:

[code]

Input:

[code]

Desired r

[2018-03-06 14:48] lon-io commented on #14
Worth noting that `order/declaration-block-properties-specified-order` has been renamed to `order/properties-order`, so the above now breaks and the proper rules are:
[code]

[2018-03-26 20:57] ekfuhrmann opened #63 "Properties-alphabetical-order mixin error within styled-components"
With the following component:
[code]

I receive this error:
[code]

The mixin I have is simply creating some font style properties based off of the parameters. It seems like the alphabetical ordering is using the word `mixin` and thus wants it placed above `text-transform` but after `margin`.

[2018-03-30 15:46] jsit opened #64 "Fixed order *within* flexible order?"
Say I want this to be valid:

[code]

And I want this to be valid:

[code]

But I want this to be invalid:

[code]

In other words, I don't care whether `padding` or `margin` comes first, but I always want any `margin` properties to be in the same order.

The config might look something like this:
[code]

This doesn't work, of course, but could something like it be made to work?

[2018-03-30 15:50] hudochenkov commented on #64
It's impossible to achieve.

[2018-03-30 16:13] jsit commented on #64
In theory, or in the current implementation?

[2018-05-28 15:15] hudochenkov commented on #64
Sorry for a late response. It's impossible to achieve with the current implementation. And, I'm afraid, it will never be achieved because this request is quite unique.

If you wanted this feature to avoid error, when shorthand property overrides londhand property consider using [declaration-block-no-shorthand-property-overrides](https://stylelint.io/user-guide/rules/declaration-block-no-shorthand-

[2018-05-28 15:15] #64 closed

[2018-07-02 18:17] osphost commented on #63
I'm facing the same issue. Would it make sense to add an option to ignore the sorting when `  `${font("sans-serif", 14, 600, #000)};` is detected? E.g. ignore `${`?

Imo it would be handy

[2018-07-13 20:18] ACVis commented on #11
So, is there any way to accomplish this currently? It seems like I can get it so that stylelint/stylelint-order apply --fix so that my code is separated into ordered groups such as below:

`
.test {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 100px;
	height: 100px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin: 1rem;

	font-weight: 400;
	font-size: 16px;
	font-fami

[2018-07-14 11:11] hudochenkov commented on #11
@ACVis Try to put `order/properties-order` after `declaration-empty-line-before` in your config. I'm not sure in which order `stylelint` runs rules, but maybe it will help.

[2018-07-15 17:01] jeddy3 commented on #11
You can use either the [`"never"` primary option](https://github.com/stylelint/stylelint/tree/master/lib/rules/declaration-empty-line-before#never) or the `"always"` primary option [_with the `except: ["after-declaration", "first-nested"]` secondary options_](https://github.com/stylelint/stylelint/tree/master/lib/rules/declaration-empty-line-before#except-after-comment-after-declaration-first-nest

[2018-07-16 14:39] ACVis commented on #11
Thank you everyone, I will try this and report back.

[2018-07-17 10:10] evilebottnawi opened #65 "Support `postcss@7`"
:+1:

[2018-07-27 15:36] ACVis commented on #11
Well, for a while I found a workaround to this problem issue by setting up a gulp file to watch every time I made a save and then run csscomb to properly format the file and then have stylelint fix the rest. But csscomb cannot handle anything beyond basic scss syntax and crashes the whole gulp process with fatal errors. So that does not work anymore.

@jeddy3 Is there another workaround for this?

[2018-07-27 16:05] hudochenkov commented on #11
@ACVis Show your input CSS and what result you want to get, please.

[2018-07-27 16:39] ACVis commented on #11
My initial instinct is to think that stylelint-order plugin needs a `spacesBetweenProperties` option.
`spacesBetweenProperties: "never"` would remove spaces between properties. Then I would think `declaration-empty-line-before: null` would allow this to happen with no warnings.

With a ruleset like this:

[code]

And css such as this:

[code]

then what I want to get is this:

[code]

If I have `"

[2018-07-28 14:46] hudochenkov commented on #11
Your observations are correct. You want to use `"declaration-empty-line-before": null` and `noEmptyLineBetween` option for a property group, which doesn't exist.

To add `noEmptyLineBetween` you'll need:

1. Add logic for `noEmptyLineBetween` to `checkEmptyLineBefore.js` similar to [`emptyLineBefore`](https://github.com/hudochenkov/stylelint-order/blob/6c0787acf22f79ac45992d455e774be361ae6d4a/rule

[2018-08-01 18:10] ACVis commented on #11
Thank you for the guidance, I will try and start on this when I get back from vacation. I'm sure I will be asking for help.

[2018-08-10 11:39] hudochenkov commented on #65
Released in `1.0.0`.

[2018-08-10 11:39] #65 closed

[2018-08-20 13:47] AndyOGo opened #66 "empty line before for order"
I would like to force separation of keyword-related syntax by newlines.

**Good:**

[code]

**Bad:**

[code]

[2018-08-20 13:51] hudochenkov commented on #66
Use stylelint's core rules for this:

* [at-rule-empty-line-before](https://stylelint.io/user-guide/rules/at-rule-empty-line-before/)
* [declaration-empty-line-before](https://stylelint.io/user-guide/rules/declaration-empty-line-before/)
* [rule-empty-line-before](https://stylelint.io/user-guide/rules/rule-empty-line-before/)

[2018-08-20 13:55] AndyOGo commented on #66
Yeah I thought so at first too, but as soon as I combine it with [`order/properties-order` `emptyLineBefore: "allways"`](https://github.com/hudochenkov/stylelint-order/blob/master/rules/properties-order/README.md#options) it seems to clash

[2018-08-20 14:05] hudochenkov commented on #66
Yeah, you can't use `declaration-empty-line-before` if you use `emptyLineBefore` for properties groups.

Provide an example with much things in it as possible (maybe your initial example is enough). Show your current configuration. And desired output. We'll figure out right settings for you.

[2018-08-21 06:34] AndyOGo commented on #66
@hudochenkov
Thanks, thats super kind :)

**.stylelintrc**
[code]

My installed stylelint packages:
[code]

[2018-08-30 11:08] vestimir opened #67 "Property order does not catch a case"
Given this config:

[code]

This gets reported:

[code]

But this does not, even that `padding-top` is declared to be ordered after `display`:

[code]

[2018-09-11 13:13] NE-SmallTown opened #68 "Is there any way to set the `import` order?"
Searched on this repo but don't find the way. Seems [`order/order`](https://github.com/hudochenkov/stylelint-order/blob/master/rules/order/README.md) can't do this

[2018-09-11 13:14] hudochenkov commented on #68
Correct. It's not possible.

[2018-09-11 13:41] #68 closed

[2018-09-12 11:41] SuperEngineer64 opened #69 "No error message"
Thanks for your work!

My code is marked red, if the order I configured is wrong. But there is no error message, so I can not know, where the error is coming from while working in the project.

How can I add a message? This isnt working: https://stylelint.io/user-guide/configuration/#custom-messages

Thanks! :)

[2018-09-12 11:42] hudochenkov commented on #69
There is always an error message. What is your configuration? How do you use it? Screenshot?

[2018-09-12 11:49] SuperEngineer64 commented on #69
Hey!

Iam using Sublime with stylelint and stylelint-order. In my project root I have the .stylelint.json file. And in it:

`{
  "extends": "stylelint-config-recommended",
  "extends": "stylelint-config-standard",

  "plugins": [
    "stylelint-order"
  ],

  "rules": {
    "order/order": [
      "custom-properties",
      "declarations"

    ],
    "order/properties-order": [
      "color",

[2018-09-12 11:53] hudochenkov commented on #69
Check SublimeLinter settings. I use it as well and I see an error message when hover over errored area.

![image](https://user-images.githubusercontent.com/654597/45423204-e77cdb00-b692-11e8-9ef4-6fab7e39327b.png)

![image](https://user-images.githubusercontent.com/654597/45423257-12672f00-b693-11e8-9604-57b1f0f32b98.png)

[2018-09-12 11:56] SuperEngineer64 commented on #69
Hm.. I only get "Definitions" and "References" on hover.

[2018-09-12 12:05] hudochenkov commented on #69
Do you see error messages when there are other violations? For example, you should have see an error message with the following CSS:

[code]

BTW, there is an problem with your stylelint config:

[code]

Should be:

[code]

[2018-09-12 12:07] SuperEngineer64 commented on #69
Solution:

Removing all settings after "extend", save, restart, open and past the settings again.
Now its working....

And as I discovered, all stylelint messages were away. No there back again. Thats the kind of bug nobody wants. :p

Thanks!

[2018-09-12 12:07] #69 closed

[2018-09-25 21:19] mikemedoro commented on #66
@AndyOGo Did you ever manage to get this working? I'm trying to achieve the following as well:

[2018-09-25 21:29] AndyOGo commented on #66
Sorry I have no validation yet

[2018-09-27 09:49] robertjk commented on #11
I struggle with the same problem and would love to see this feature.

[2018-09-27 14:41] ACVis commented on #11
Yep, that's exactly it. Unfortunately I haven't had time to even look at solving this yet. Anyone else, feel free to step in.

[2018-10-01 07:31] muuvmuuv opened #70 "emptyLineBefore not working"
I'm trying to get stylelint working in my project with this command : `./node_modules/.bin/stylelint scss/components/_alerts.scss --syntax scss --fix`

but it always just sorts the order and not put an empty line before the blocks.

This is my configuration:
[code]

This is the _alert.scss:
[code]

[2018-10-08 10:43] jeddy3 commented on #70
@muuvmuuv I suspect you'll need to turn off in your config the `declaration-empty-line-before` rule from [within `stylelint-config-standard`](https://github.com/stylelint/stylelint-config-standard/blob/master/index.js#L50) e.g.

[code]

[2018-10-08 16:13] muuvmuuv commented on #70
THANKS!

[2018-10-08 16:13] #70 closed

[2018-10-09 12:53] henriollik commented on #66
I'm interested in this as well.

[2018-10-09 13:11] hudochenkov commented on #66
@AndyOGo I think you might want this config:

[code]

[2018-10-12 18:39] nickmccurdy commented on #63
Can we please reopen this issue for a workaround, since stylelint-processor-styled-components can't be changed to improve this?

I think the best we can do is automatically ignore rules starting with `-styled-`.

[2018-10-12 19:12] hudochenkov commented on #63
@nickmccurdy stylelint supports CSS-in-JS out of the box now. Have you tried it without using `stylelint-processor-styled-components`?

[2018-10-12 21:21] nickmccurdy commented on #63
I removed `"processors": "stylelint-processor-styled-components",` and my linter errors are no longer working on Stylelint 9.6.0

[2018-10-23 10:52] stephanschubert opened #71 "postcss-sorting complains about `less-mixins`"
When `less-mixins` is used:

[code]

Result:

[code]

Removing `less-mixins` "fixes" the error.

[2018-10-23 11:58] hudochenkov commented on #71
Thank you for reporting!

Indeed, this problem exists, because `postcss-sorting` (a plugin which handles order fixing) doesn't support this keyword.

I believe it could be fixed if add to https://github.com/hudochenkov/postcss-sorting/blob/944da947a628192b54448368c197f586fbbe0c10/lib/getOrderData.js code similar to https://github.com/hudochenkov/stylelint-order/blob/3215ac3dee90f7ebfb48fd366017272

[2018-10-24 12:11] NE-SmallTown commented on #71
Same problem.

@hudochenkov  The bad I feel is that this will cause the entire file won't be fixed, I think we should just ignore `less-mixins` and still fix the file and **throw the error rather than just log**(for me, I even don't see the warning and spend 2 hours to dig into the source code of `stylelint-order`)

What's your suggestion/plan to fix this? If @stephanschubert doesn't have time, I

[2018-10-24 13:46] hudochenkov commented on #71
@NE-SmallTown Sorry, you faced this situation. It's a rare case when something was added to stylelint-order but wasn't reflected in postcss-sorting. My suggestion is to add support for `less-mixins` into postcss-sorting. I [wrote](https://github.com/hudochenkov/stylelint-order/issues/71#issuecomment-432217119) above where to start.

[2018-10-24 15:10] NE-SmallTown commented on #71
Never mind, I will take a look if @stephanschubert doesn't have time

[2018-10-25 18:49] mbrowne opened #72 "Improved error message for properties in groups"
Currently, when using property groups, you'll get an error message like this if your code doesn't match the specified order:

It would be nice if the error message mentioned the fact that the property is also expected to be part of a group.

Here's an example use case...at my company we are using styled-components, so we can't use the `--fix` option. So we want to require an order for properties t

[2018-10-25 20:03] hudochenkov commented on #72
I believe you can use it if you use stylelint without `stylelint-processor-styled-components`. stylelint support CSS-in-JS from a box.

Sounds good!

I checked your code and I think it should be located in the other file, but I can't say for sure. (Which indicates, that I'm probably need to refactor my code :)) I'll dig into it, and tell you later next week (I'm traveling right now).

If you parti

[2018-10-25 20:10] hudochenkov commented on #67
Sorry for a late response.

What version of `stylelint` and `stylelint-order` do you use? I tried your config and your code, and I have warnings in both cases.

[2018-10-25 20:35] vestimir commented on #67
[code]

Let me try to update everything and try again.

[2018-10-25 20:36] jeddy3 commented on #72
Whilst it's on my mind, I'll just add a suggestion for the message itself. How's about?:

[code]

It'll be more aligned with the messages of the built-in rules because they follow the convention of making sense regardless of what goes in the quotes. For example:

[code]

Would give:

Whereas the current implementation would give:

Which, arguably, makes less sense as '"one" properties' isn't a thi

[2018-10-25 20:38] vestimir commented on #67
Yep, with those the result is the same, it still doesn't catch it:

[code]

[2018-10-25 20:55] hudochenkov commented on #67
Dependencies look good. Would you mind creating a minimum reproducible repository, please?

[2018-10-25 21:29] mbrowne commented on #72
Great - thank you, no rush.

Good catch. I was aiming for a message that would make sense both in this case:
[code]

And in this one, where the property is already in the correct group but not in the right order within that group:
[code]

I'm not sure if the `in group "${group}"` part might be misleading in the first case, but I think this is a minor point. Probably still an improvement over my ve

[2018-10-25 21:31] mbrowne commented on #72
Also: I'm not participating in Hacktoberfest, but I went ahead and created a PR labeled "WIP":
https://github.com/hudochenkov/stylelint-order/pull/73

[2018-10-26 14:03] mbrowne commented on #72
@hudochenkov

I just looked into this...thanks, but it looks like you need a processor of some sort to enable this:

https://stylelint.io/user-guide/configuration/#processors

And stylelint does not currently support autofixes for processors. See:
https://github.com/stylelint/stylelint/issues/2592
https://github.com/styled-components/stylelint-processor-styled-components/issues/50

Autofixing woul

[2018-10-26 20:55] hudochenkov commented on #72
@mbrowne stylelint supports linting and autofixing in template literals since [9.4.0](https://stylelint.io/CHANGELOG/#940) without preprocessors.

[2018-10-27 11:46] jeddy3 commented on #72
https://stylelint.io/user-guide/configuration/#processors

This is my bad. I missed this bit about processors in the configuration doc when [I deemphasised processors elsewhere in the docs](https://github.com/stylelint/stylelint/pull/3591) after the `9.4.0` release.

I've created a quick PR to fix the configuration doc: https://github.com/stylelint/stylelint/pull/3747.

As @hudochenkov said, linti

[2018-11-18 18:06] #72 closed

[2018-11-18 19:01] alkorlos opened #74 "Options emptyLineBefore can give extra empty line."
I have:
`stylelint.config.js`
[code]

If source css will be
[code]
Output css will be
[code]
Too much empty lines, not only between properties groups.

If source css will be
[code]
Output css will be correct
[code]

Apparently stylelint-order sets empty line firstly, then sorts properties, doesn’t it? Is it bug?

It can be partially fixed by rule declaration-empty-line-before: never, then at the s

[2018-11-18 19:58] hudochenkov commented on #74
Thank you for reporting.

This is a bug. I don't know why it happens, because first there is a sorting, and then checks for empty lines.

[2018-11-18 20:00] #66 closed

[2018-11-20 21:55] #74 closed

[2018-11-20 22:14] hudochenkov commented on #74
Fixed in `stylelint-order@2.0.0`.

[2018-11-20 22:23] alkorlos commented on #74
Thank you very much!

[2018-11-22 21:00] sturobson opened #75 "exposing an error message when extending at-rules"
Stylelint (from my brief experience) allows you to create a custom error message, for example:

[code]

I've tried adding `"message"`, and `"severity"` to an extended at-rules in my config but this doesn't bubble up when an error occurs.

My config for stylelint-order is:

[code]

Does `"message"` and/or `"severity"` not work this way?

When running the style lint with above code I get:

[code]

D

[2018-11-22 21:13] hudochenkov commented on #75
It's it possible to set a custom message as for any other rule. But with stylelint-order it's not that helpful, because it is set to a whole rule:

[code]

It might be possible to implement in a way you're showing. But it will be tricky and won't make much difference for the majority of users.

[2018-11-22 21:13] #75 closed

[2018-11-27 13:35] taylon commented on #63
It is weird that every Stylelint rule I tested so far works in CSS-in-JS (including ---fix) out of the box. Except for stylelint-order. The order rules don't report any errors in CSS-in-JS.

[2018-11-27 13:41] hudochenkov commented on #63
@taylon please, create a separate issue with a description of your problem.

[2018-11-27 15:41] taylon opened #76 "stylint-order not working with CSS-in-JS"
Hi, I'm not sure if it is a problem with postcss-jsx, stylelint itself or stylelint-order but I thought I would mention anyway and maybe we can at least get some idea about where the problem is coming from.

**Example:**

**Using Stylelint out of the box (meaning postcss-jsx):**

`$ stylelint --print-config` > https://pastebin.com/zJZfxK2W

[code]

[code]

**Using Stylelint with stylelint-processo

[2018-12-15 13:31] evgenymarkov opened #77 "Allow to use "emptyLineBefore" with "unspecified""
Hi, I would very much like to have possibility to put together unspecified properties into a block of code separated by empty line.

Example:
![screenshot 2018-12-15 at 18 18 29](https://user-images.githubusercontent.com/16443248/50043450-32ddc580-0096-11e9-906f-02ac39608310.png)

Now it’s impossible to do so. It would be good if it was achieved by the following settings:

[code]

[2019-01-12 10:29] evanre opened #78 "Ignore the case characters order"
Hi, I've got a specific problem.
I'm trying to implement stylelint into my environment (which is for development newsletters and based on Foundation for Emails). There is specific hacks for developing newsletters for legacy email clients. And one of them is margins support in Outlook. It requires to use a "margin" property with first capital letter.
For example - `Margin: 0 auto;`, so the total st

[2019-01-13 20:57] hudochenkov commented on #78
I think this plugin should ignore property case when sorting. I haven't thought about this before, because lower cased properties are kind of default in our industry :)

Your case is totally valid, a plugin should ignore the case of properties.

[2019-01-13 21:03] hudochenkov commented on #77
It's a good idea!

I would name the new secondary option `unspecifiedEmptyLineBefore`. Looks a little bit weird, but it shows what empty line for. Possible values: `"always"`, `"never"`. If an option is not specified, ignore it.

[2019-01-13 21:05] hudochenkov commented on #76
Sorry for a late response. I recently started using Styled Components myself. I'll try to add support for it.

[2019-01-20 09:43] nicothin opened #79 "Allow to use "emptyLineBefore" for "order""
It would be great to use the option `"emptyLineBefore": "always",` to separate the empty line in the order:

[code]

[2019-01-20 13:06] hudochenkov commented on #79
Use stylelint core rules for this:

* `custom-property-empty-line-before`
* `declaration-empty-line-before`
* `rule-empty-line-before`
* `at-rule-empty-line-before`

This is config I use to keep the same entities together (e. g. no empty lines between declarations), but add empty line between different entities (e. g. empty line between declarations and nested rules):

[code]

[2019-01-28 22:47] #67 closed

[2019-02-04 10:00] ianvieira commented on #76
@hudochenkov I saw you added the help wanted label. I can help you with it, as this is a blocker for one of my projects.

[2019-02-04 10:02] hudochenkov commented on #76
@ianvieira It would be great! Thank you!

[2019-02-16 22:09] 7iomka commented on #60
It is possible current to ignore styles rules inside @mixin ?
I have a mixin with
1) Dollar variables
2) Some calculations which changes thar variables
3) Some css code with this calculated values of variables
I don't have control to order if/else statements
For ex, if I pass thar config
[code]

I have problems, in case that I have multiple if/else statements, one by one, order/order will separate

[2019-02-16 22:57] hudochenkov commented on #60
@7iomka please, create a new issue. Include your configuration. Your input code. What is the result.

[2019-02-21 10:13] Tiagojdferreira commented on #60
@hudochenkov thanks for the great plugin. I have just stumbled upon this same problem, with `        unspecified: 'ignore'`, working for linter, but not when I pass the `--fix` argument.
My rules:
[code]

Example:
[code]

Without `--fix` it works fine, with `--fix` it moves the:
[code]
To the end.

Are there any plans to make --fix respect unspecified?

[2019-02-21 10:15] hudochenkov commented on #60
It's [impossible](https://github.com/hudochenkov/stylelint-order/issues/60#issuecomment-366806527), unfortunately.

[2019-02-21 10:20] Tiagojdferreira commented on #60
Would it be possible to make a rule ignoring the position? like:
[code]
?

[2019-03-03 18:14] hudochenkov commented on #76
Released in `2.1.0`.

[2019-03-03 18:14] #76 closed

[2019-03-05 08:40] baradusov commented on #78
@hudochenkov If change this condition https://github.com/hudochenkov/stylelint-order/blob/a274e7b160a62f72ba105c2e6e02e4a901b9be09/rules/checkAlphabeticalOrder.js#L5
to
```firstPropData.unprefixedName.toLowerCase() === secondPropData.unprefixedName.toLowerCase()```
is it will be enough to resolve issue?
I tested it and it seems ignoring case without breaking anything.

But if using default `stylel

[2019-03-05 08:47] hudochenkov commented on #78
@baradusov Thank you for looking into this!

It won't be enough, because later in this file also a check:

https://github.com/hudochenkov/stylelint-order/blob/a274e7b160a62f72ba105c2e6e02e4a901b9be09/rules/checkAlphabeticalOrder.js#L17

Both names should be lowercased before making comparison.

There is also a check for `properties-order`:

https://github.com/hudochenkov/stylelint-order/blob/a274e

[2019-03-08 13:17] alexpott opened #80 "Adding stylelint-order using yarn generates a warning"
[code]

[2019-03-08 13:20] alexpott commented on #80
Ignore me - doh we have stylelint@9.9.0

[2019-03-08 13:20] #80 closed

[2019-03-17 23:10] nosovk opened #81 "Complex sorting rule"
Sorting properties in alphabetical order is a good starting point, but better stick to more verbose standard:

1. Layout Properties (position, float, clear, display)
2. Box Model Properties (width, height, margin, padding)
3. Visual Properties (color, background, border, box-shadow)
4. Typography Properties (font-size, font-family, text-align, text-transform)
5. Misc Properties (cursor, overflow,

[2019-03-17 23:14] hudochenkov commented on #81
Yes. With [`order/properties-order`](https://github.com/hudochenkov/stylelint-order/blob/master/rules/properties-order/README.md).

Define your own order or use community configs:

https://www.npmjs.com/package/stylelint-config-recess-order
https://www.npmjs.com/package/stylelint-config-rational-order
https://www.npmjs.com/package/stylelint-config-idiomatic-order
https://www.npmjs.com/package/styl

[2019-03-17 23:14] #81 closed

[2019-04-07 22:07] #11 closed

[2019-04-08 16:03] ACVis commented on #11
Thank, this is amazing, stylelint and stylelint-order now work perfectly for me. I'm down from hundreds of errors to just one. Thank you, thank you, thank you.

[2019-04-08 19:43] hudochenkov commented on #11
Thank you for kind words :)

[2019-04-09 12:13] dbeerten commented on #11
Thank you for adding the `noEmptyLineBetween` rule! I immediately added it to our stylelint config, but it seems there is some kind of conflict when you use it in combination with the `order: "flexible"` rule..:

Config:
[code]

Example:
[code]

Result:
[code]

After deleting the empty line between `width` & `font-size`:
[code]

[2019-04-09 12:21] hudochenkov opened #82 "False negative with `noEmptyLineBetween` in combination with the `order: "flexible"`"
Thank you for adding the `noEmptyLineBetween` rule! I immediately added it to our stylelint config, but it seems there is some kind of conflict when you use it in combination with the `order: "flexible"` rule..:

Config:
[code]

Example:
[code]

Result:
[code]

After deleting the empty line between `width` & `font-size`:
[code]

_Originally posted by @dbeerten in https://github.com/hudochenkov/sty

[2019-04-09 12:22] hudochenkov commented on #82
@dbeerten thank you for reporting! I'll take a look.

[2019-04-09 18:56] #82 closed

[2019-04-09 19:02] hudochenkov commented on #82
Fixed in `2.2.1`.

[2019-04-10 06:56] dbeerten commented on #82
Works like a charm now!
Thanks @hudochenkov

[2019-04-17 07:53] #77 closed

[2019-04-18 22:47] hudochenkov commented on #77
Released in `3.0.0`.

[2019-04-27 11:05] mkay581 commented on #63
Definitely having a similar problem as @nickmccurdy here. I realize this may not be a direct issue in this repository but it does seem odd that this lib can't ignore styled-component mixins. See code below:

[code]

And I get this in the console:

[code]

Looks like its expecting the mixin variable `${buttonReset}` to come _after_ the `border` property, but I need for the mixin variable to be firs

[2019-04-27 11:07] mkay581 commented on #63
sorry I meant that issue is the same one that @ekfuhrmann originally had. Can we reopen this issue and explore a possible fix?

[2019-04-27 18:00] hudochenkov commented on #63
stylelint-order works great with Styled Components. I use it every day. Don't use `stylelint-processor-styled-components` and you won't see any warnings like above.

[2019-04-28 16:44] mkay581 commented on #63
Sure, but as @nickmccurdy has already pointed out, `stylelint-processor-styled-components` can't be removed because linting stops working altogether.

[2019-04-28 16:51] hudochenkov commented on #63
Please, create an issue in `stylelint` if this happens. Help us fix these errors.

[2019-04-28 16:52] mkay581 commented on #63
😕 This is the same error that was originally brought up in the thread. Why not just reopen this?

[2019-04-28 16:54] mkay581 commented on #63
Hmm, you're not "supporting" `stylelint-processor-styled-components`. We're asking that you support use of `${}` expressions and ignore them. You don't technically need `stylelint-processor-styled-components` to use `${}` expressions in your css-in-js.

[2019-04-28 16:55] hudochenkov commented on #63
The original error is caused by using `stylelint-processor-styled-components`. It won't be fixed.

I asked you to not use this processor, and you said that there are other errors. Please, report these errors to stylelint, so we can fix it.

[2019-04-28 16:57] mkay581 commented on #63
See my previous comment. It's not caused by the use of `stylelint-processor-styled-components`. This is an issue caused by using `${}` expressions in your styled-components.

😕 never said there are any other others than what are already mentioned here.

[2019-04-28 17:06] hudochenkov commented on #63
I think there is misunderstanding from both sides.

Warning like this:

Is definitely caused by `stylelint-processor-styled-components` because `-styled-mixin0` created from this processor. It's not from stylelint itself.

Try to remove `stylelint-processor-styled-components` from your stylelint config and see what happens. It should work as expected. I just tried your [example](https://github.com

[2019-04-28 18:05] mkay581 commented on #63
This will be my last comment about this since I'm pretty busy. Your statement above is incorrect. It _looks_ like everything is fine because stylelint stops discovering other errors altogether and no longer works properly. Use my example again, remove `stylelint-processor-styled-components`, and put some other error there (maybe like duplicate selector) and you will see that that won't produce any

[2019-05-15 21:44] privatenumber opened #84 "Feature request: type `at-rule:import`"
Currently, `order/order` only supports a general `at-rule` (anything that starts with `@`). However, I think it's worth differentiating `@import` from other @ rules like `@media`.

In my case, I'd like my `@import` statements at the top of the file, and `@media` at the end.

Would like to request a more nuanced `at-rule` like `at-rule:import`.

[2019-05-15 21:48] privatenumber commented on #84
My mistake. I was looking through old issues and thought it was still unsupported. Looks like this is now supported.

[2019-05-15 21:48] #84 closed

[2019-06-18 22:05] dangodev commented on #63
I have a dumb hack for this, that doesn’t really fix the problem but at least suppresses the error in many scenarios. This works because the list from `css-known-properties` comes out-of-the-box comes alphabetized with vendor prefixes, as you’d expect.

[code]

---

The real problem is that certain properties used by Styled Components, et al **shouldn’t be alphabetized at all**—they either need to

[2019-06-18 22:36] hudochenkov commented on #63
@dangodev why `stylelint-processor-styled-components` is used? stylelint supports styled components out of the box without the need for processor.

[2019-06-18 23:15] dangodev commented on #63
@hudochenkov I’m sorry—I’ve read this entire thread, and I know you keep saying that, and feel like you’re being ignored. But that doesn’t seem to be the case. As of stylelint `10.1.0` and Styled Components `5.0.0-beta.3` it does not work without the processor. This is what I see:

<img width="618" alt="Screen Shot 2019-06-18 at 17 10 58" src="https://user-images.githubusercontent.com/1369770/5972

[2019-06-18 23:23] hudochenkov commented on #63
@dangodev would you mind opening an issue in stylelint repository about `declaration-empty-line-before` issue, please? It's either bug or incorrect config.

If you have examples of other core rules, please, open issues in stylelint repository as well. Help us make stylelint better :)

[2019-06-20 23:10] mkay581 commented on #63
@dangodev either he's just not getting it or all of us are just doing a very very bad job explaining this lol.

[2019-06-21 09:52] hudochenkov commented on #63
I'm getting it. styled-components processor were introduced long before stylelint was supporting CSS-in-JS. Now there are less reasons to use processor. There are some problems which developers of stylelint don't know about, because users don't report them.

What I see from this thread, that users facing problems with built-in support, so they choose quick solution — use processor, and users happy

[2019-06-21 13:37] dangodev commented on #63
What confused us was the messaging here. I see issues [like this one](https://github.com/stylelint/stylelint/issues/3408) that are working _toward_ deprecating processors. And I’m all for it! Love the idea of Stylelint supporting CSS-in-JS natively 🎉!

We can (and will) open up tickets, for sure. But when you say “it supports,“ that’s not accurate because for (arguably) the most popular CSS-in-JS

[2019-06-21 13:44] hudochenkov commented on #63
For a note: I use styled components for half a year now with stylelint and autofixing. I use `stylelint-config-recommended` and `order/order` and `order/properties-order` with autofixing.

That where from some of my confusion comes. I use both and don't have problems ([almost](https://github.com/stylelint/stylelint/issues/4119) :)).

[2019-06-22 09:13] hudochenkov commented on #63
While fixing everything in stylelint could take a while, users want to continue using processor in the meanwhile.

Consider contributing a fix to ignore `-styled-*` things.

[2019-06-29 21:34] hudochenkov opened #85 "Report warnings if the weren't fixed by autofix in `order`"
Similar to the [`properties-order`](https://github.com/hudochenkov/stylelint-order/commit/5c03c7318cf1581cc17f457d7b96f223e84fe04e) `order` should report warning which weren't fixed by autofix. It could happen in CSS-in-JS, if rule has interpolations. Then `postcss-sorting` will skip it to not break the users code.

[code]

[code]

[2019-07-09 12:44] justrhysism opened #86 "Feature request: Empty line setting for minimum required properties"
I like separating the properties into rational groups with lines in between - however when there's only a handful (< 3 || 4) of properties the gaps are a bit unwieldily and it makes it difficult to reason.

Suggestion: a minimum property setting for enacting the empty lines.

e.g. a threshold setting of 3 (where `ddd` and `eee` are their own group):

[code]
---

Original request on *stylelint-conf

[2019-07-09 16:47] jamesarosen commented on #50
That's true, though there are at present 550 standard CSS properties. Maintaining that list for almost-but-not-quite alphabetization would be tiresome.

I'm happy to submit a PR for this. Can you provide some direction? What do you think of this?
[code]

I worry that `lib/reference/shorthandData` isn't party of stylelint's public API.

[2019-07-09 17:12] jamesarosen opened #87 "'Unexpected an empty line before property "undefined"'"
Given this stylelint configuration:
[code]
and the following SCSS:
[code]

I get the following error:
[code]

[2019-07-09 19:00] hudochenkov commented on #87
Thank you for the report! I'll take a look in a few days.

[2019-07-09 19:08] hudochenkov commented on #50
It's a good start. Copy `shorthandData.js` to this repository. It's unsafe to use unofficial APIs.

[2019-07-09 23:39] jamesarosen commented on #50
Should I also copy `shorthandData.js` into `postcss-sorting`? I need it there to make the tests for this module pass since they make assertions about the corrections.

[2019-07-10 06:31] justrhysism commented on #86
So I've created a draft PR with a working prototype to facilitate this feature. Tests are located in `~/rules/properties-order/tests/empty-line-minimum-property-threshold.js`

Currently there are two failing test cases which I'm not too sure which direction should be taken:

### Lines above comments (9)

[code]

### Lines above variables (13.4)

[code]

Before I go to the effort of figuring out th

[2019-07-10 06:54] hudochenkov commented on #50
@jamesarosen yes.

[2019-07-10 10:07] JimDrury opened #89 "Bug: Using stylelint-order with --fix flag ignores /* stylelint-disable-next-line */"
Using stylelint-order with --fix flag ignores /* stylelint-disable-next-line */ when order/properties-alphabetical-order is set to true.

[code]

Becomes:

[code]

[2019-07-10 10:12] hudochenkov commented on #89
It's a known limitation in stylelint itself.

[2019-07-10 10:12] #89 closed

[2019-07-10 17:09] hudochenkov commented on #86
It's an interesting problem to solve.

It has many different cases to support. As you can see in the following problems there is a lot of things needed to be solved.

Dollar variables and custom properties ignored by this rule.

## Problem 1

Imagine following CSS groupped correctly and empty lines as it should be:

[code]

What plugin will produce with option set to 2?

Glue together all lone pro

[2019-07-10 17:14] hudochenkov commented on #87
Indeed. Bug is happening when `emptyLineBeforeUnspecified` is specified.

[2019-07-10 19:12] hudochenkov commented on #87
I've fixed some existing incorrect tests for `emptyLineBeforeUnspecified` and added more https://github.com/hudochenkov/stylelint-order/pull/90. Now we need to fix the code.

@njbraun would you like to help fix this option, please?

[2019-07-10 20:07] jamesarosen commented on #50
See hudochenkov/postcss-sorting#85

[2019-07-10 23:41] justrhysism commented on #86
@hudochenkov I think you've misunderstood the suggestion; I probably should've provided examples in my original post.

I don't want to set a minimum size of the _groups_, but rather a minimum number (threshold) of properties in the selector _required_ for the grouping to be invoked.

e.g. a threshold setting of 3 (where `ddd` and `eee` are their own group):

[code]

[2019-07-11 10:22] hudochenkov commented on #86
Now I get it :) There are question to think about.

If we have only 3 property in the rule, when option is set to 4. Does it mean we'll remove empty lines? Does it mean new this option is targeted only for people, who has groups in config and each group has `emptyLineBefore: "always"`?

Let's assue that the following input is correct, and it's three groups with empty line before each. Threshold is

[2019-07-11 20:56] jamesarosen commented on #50
See #91

[2019-07-12 00:37] justrhysism commented on #86
@hudochenkov exactly why this needs thought and discussion 👍

When starting this journey, I hadn't realised that _individual groups_ were configured with `emptyLineBefore: "always"`. Maybe we could add an option for `emptyLineBefore: "threshold"`?

To preface: for the sake of discussion I'm going to ignore technical considerations for now, as there are many cases to discuss.
---

### Case; thresho

[2019-07-12 08:16] hudochenkov commented on #86
Custom properties (or any other nodes, except standard properties) should not be affected by `properties-order`.

This feature will have to many cases to worry about. I think it will be hard to make it right and robust.

P. S. To be honest, I'm not interested in this idea, because I'm not going to use it myself. And I don't want to explore solutions as well. But if you solve the problem we can inc

[2019-07-12 09:01] #50 closed

[2019-07-12 09:25] hudochenkov commented on #50
`3.0.1` released! Thank you very much, @jamesarosen!

[2019-07-15 06:12] justrhysism commented on #86
Well that's disappointing.

@hudochenkov I'm happy to solve the problems, but I need to know what your expectations are for acceptance; hence the need for discussion.

Already through our discussion you've raised things I hadn't thought about. As the author of the plugin, you have the knowledge depth for the cases which the rest of us simply won't think about.

[2019-07-15 20:05] caribou-code opened #93 "CSS not linted inside a Styled Component `css` tag"
**Description**

stylelint-order ignores CSS for Styled Components when in a `css` template literal wrapper.

**Example**

_.stylelintrc_
[code]

_components/Button/index.style.ts_
[code]

When props are accessed so many times in a styled component, it makes sense to use the wrapping css tag so only 1 function is created. Everything inside there is valid CSS so should be linted, but stylelint-orde

[2019-07-15 21:20] hudochenkov commented on #93
What output do you get?

Do other stylelint rules work? I. e. [`declaration-empty-line-before: "always"`](https://stylelint.io/user-guide/rules/declaration-empty-line-before)?

It might be the case that stylelint just don't parse your file, because you're using TypeScript and stylelint doesn't support it.

[2019-07-16 06:22] caribou-code commented on #93
Stylelint and the property ordering works fine if I don't use the `css` tag wrapper e.g. if I use inline props like so:

[code]
There is a note in the README that says:

`CSS-in-JS styles with template interpolation could be ignored by autofixing to avoid styles corruption.`

Not sure if that has anything to do with it?

[2019-07-16 07:01] hudochenkov commented on #93
I'll take a look at the problem within the next week or two.

[2019-07-16 07:21] caribou-code commented on #93
Thanks. I'm starting to think the issue is with stylelint rather than this specific ordering package.

[2019-07-17 14:23] justrhysism commented on #86
Okay, so it turned out to be pretty simple. The threshold option adds/removes lines in the same manner as the `always` and `never` settings, by toggling their respective logic if:

- The group is set to `emptyLineBefore: "threshold"`
- `emptyLineMinimumPropertyThreshold > 0`
- The number of properties is:
  - above threshold: triggers `always`
  - below threshold: triggers `never`

The behaviour i

[2019-07-19 13:11] hudochenkov commented on #93
Could you create a repo with reproducible example, please? I can't reproduce the problem.

[2019-07-19 22:50] Evalon commented on #93
It's fixed by: https://github.com/gucong3000/postcss-jsx/pull/58

[2019-07-24 11:15] caribou-code commented on #93
@Evalon Maybe I'm misunderstanding something but I don't see how that PR will fix this problem...

@hudochenkov I'm happy to create an example, but thinking I should maybe create an issue on the main stylelint repo instead, since I think it's all linting that doesn't work in this scenario, not just ordering

[2019-07-24 11:47] Evalon commented on #93
@caribou-code This helps greatly if you create reproduction repository. Also, if you use latest version of stylelint you don't need "stylelint-processor-styled-components" because styled-components supported out of the box or maybe some features missing?

[2019-07-26 05:16] njbraun commented on #87
@jamesarosen I want to make sure we're capturing your issue correctly.  From the example you gave, I'm potentially seeing 3 issues:

1) The error message incorrectly identifies the ```&__bar {
    color: purple;
  }``` block as `"undefined"`  Instead, the error message should read: `5:3  ✖  Unexpected an empty line before property "&__bar {"            order/properties-order`

2) The error message

[2019-07-26 08:18] hudochenkov commented on #87
@njbraun there should not be any violations, because there are no unspecified properties.

[2019-07-26 19:09] caribou-code commented on #93
@hudochenkov @Evalon Sorry for the delay. I've created a public repo with the most basic reproduction of the issue I can do: https://github.com/caribou-code/stylelint-test

Clone it, `npm install` then run `npm run stylelint`.

There are 3 styled components in test/index.style.ts. All have the same properties with `display: block` in the wrong order. Stylelint correctly flags the first 2 as being

[2019-07-26 19:21] hudochenkov commented on #93
As soon as `stylelint-processor-styled-components` disabled everything is works. Stylelint supports CSS-in-JS out of the box, no need for this processor.

[2019-07-26 21:11] caribou-code commented on #93
Right you are! I've discovered a completely different bug with the main stylelint package as a result of this, but this specific issue can be closed.

[2019-07-26 21:35] #93 closed

[2019-07-28 00:05] jamesarosen commented on #87
I am specifically referring to (3)

[2019-08-01 17:01] nathanredblur opened #94 "at rule in scss"
[code]

Error: `10:3  ✖  Expected at-rule to come before at-rule with a block   order/order`

[2019-08-19 15:02] mishanga opened #95 "Doesn't fix empty strings after sorting"
Before autofix:
[code]

After autofix:
[code]

Config:
[code]

Versions:
[code]

[2019-08-20 10:48] shaikme commented on #95
this bug has 2 cases:
1) When stylelint remove property from first position
<img width="461" alt="Снимок экрана 2019-08-20 в 12 57 41" src="https://user-images.githubusercontent.com/32684639/63341081-18f53080-c351-11e9-8a33-9ee24178fc38.png">

2) When stylelint insert property to first position
<img width="495" alt="Снимок экрана 2019-08-20 в 13 05 02" src="https://user-images.githubusercontent.co

[2019-08-20 11:53] hudochenkov commented on #94
What is your config? What do you expect should happen?

[2019-08-20 11:58] hudochenkov commented on #95
stylelint-order preserve empty lines before properties (and other nodes) unless `emptyLineBefore` and/or `noEmptyLineBetween` are specified. What happens in @mishanga case, that `width` had empty line before it, and it was preserved, because when property is the first in rule plugin doesn't change empty lines.

[2019-08-20 13:43] shaikme commented on #95
@hudochenkov in our case `emptyLineBefore` and  `noEmptyLineBetween` specified, do you know how to avoid emty lines in this case?

[2019-08-26 11:58] justrhysism commented on #86
Closed #88

[2019-08-26 11:58] #86 closed

[2019-08-29 13:32] ekfuhrmann commented on #63
@hudochenkov would you mind sharing your stylelint config that you use for React?

[2019-08-29 14:17] hudochenkov commented on #63
@ekfuhrmann I use two configs. One default, which is also picked up by editor plugin — `.stylelintrc.js`. And the second which extends default config and add more things that executed on precommit hook — `.stylelintrc-fix.js`.

[code]

[code]

<details>

<summary><code>.stylelintrc-fix.js</code> (click to expand)</summary>

[code]

</details>

[2019-08-29 15:42] ekfuhrmann opened #97 "Autofix not working for styled components"
I didn't want to clutter up #63, but do want to thank you for everything you do with stylelint and for taking the time to send me over your configs.

I got your styled-components stylelint configs working, however I'm unable to get autofix to work.

In your environment, does autofix on save actually work for ordering styled components? If so, it might be a vscode setting conflict that I'm running

[2019-08-29 21:28] hudochenkov commented on #97
I don't have autofix on save, but it's run as precommit hook. For styled components there are exceptions, when autofix skips component. It skips, where it's not safe to change the order: interpolation on the same level as properties.

Interpolation as one of the nodes in the rule, so it's unsafe to autofix:

[code]

Interpolation as a value of property — safe to autofix:

[code]

Interpolation in

[2019-08-29 21:39] ekfuhrmann commented on #97
That makes sense.

I have not messed around much with pre-commits, but I'll take a look into it some more.  Thanks again!

[2019-08-29 21:39] #97 closed

[2019-08-30 13:44] hudochenkov commented on #86
`3.1.0` released.

[2019-09-16 12:03] evilebottnawi opened #98 ":star: support stylelint@11 :star:"
https://github.com/hudochenkov/stylelint-order/blob/master/package.json#L36

[2019-09-16 14:34] hudochenkov commented on #98
Done!

[2019-09-16 14:34] #98 closed

[2019-09-24 03:16] choyongjoon opened #99 "Support object literals (style object)"
[Stylelint supports styles in object literals](https://github.com/stylelint/stylelint/pull/3506) like
 * style component factories
[code]
* JSX inline style attributes
[code]

But stylelint-order is not working with styles in object. Maybe we need to use `postcss-jsx` before `postcss-sorting`.

[2019-09-24 08:29] hudochenkov commented on #99
It's already used in stylelint. stylelint parse file and pass PostCSS AST to stylelint-order. I'm not sure it's possible to safely change and order of properties in an object, because it could not have coma after last property. Before:

[code]

After:

[code]

I'm not going to explore this field, but I'm open to PRs. This plugin won't have specific logic to handle last comma, even with PR though.

[2019-09-24 14:27] choyongjoon commented on #99
Thanks for kind reply. I understood why it's not a easy. I'll look into it and try to submit a PR.

[2019-10-06 15:54] PaulRBerg opened #100 "Any chance to use this with prettier?"
I know I can run this plugin via the stylelint CLI, but integrating it with prettier would be pretty cool. I'm referring to prettier's auto-save feature in vscode, where I can tap "CMD+S" and the code gets magically refactored.

[2019-10-06 17:42] hudochenkov commented on #100
That would be nice, but this plugin is not concerned to where it could be integrated. I think there would be a technical limitation from VSCode, because it's only possible to have one formatter for a language, so it wouldn't be possible run Prettier and Stylelint with fix at the same time.

[2019-10-06 18:10] PaulRBerg commented on #100
I see. I've also just read this issue in prettier's repo: https://github.com/prettier/prettier/issues/1963

It seems they chose not to enforce any kind of css ordering.

[2019-10-11 06:05] luckysinghkathaith commented on #42
body{background-color:#EAF6F6;}
hr{border-style:none;
  border-top-style:dotted;
  border-color: grey;
  border-width: 5px;
  width:5%;}

pls help me , it showing a error that rule doesn't have all its properties in alphabetical order

[2019-10-25 08:12] Spielboerg opened #101 "emptyLineMinimumPropertyThreshold not working for groups"
The option `emptyLineBefore: 'threshold'` is not working with `emptyLineMinimumPropertyThreshold`.

My config (`.stylelintrc.js`):

[code]

Example stylesheet (SCSS):
[code]

I also tried to rule out the possibility that I might misunderstand the threshold by setting `100` as `emptyLineMinimumPropertyThreshold`, but I got the same errors.

With `emptyLineBefore: 'never'` the errors disappear as ex

[2019-10-26 13:47] sirion1987 opened #102 "Order mixin in sass"
Hello everybody!

I have this sass:

[code]
I want to order `+font-size` at the top. I try with this rule:

[code]

but I don't get any error message from stylelint.

Can anyone help me? Thank you so much.

[2019-10-26 20:50] hudochenkov commented on #102
Please, create a repository with this example and configuration. I'll try to help.

[2019-10-27 13:33] sirion1987 commented on #102
https://github.com/sirion1987/bemo-example. You can run lint with `yarn lint:sass`. In this case, the linter parses only `hero.sass`. I would like to show an error for line 16. I want `+vertical-padding` before `display`.

Thank you so much.

[2019-10-27 16:14] hudochenkov commented on #102
Problem in [postcss-sass](https://github.com/AleshaOleg/postcss-sass) parser, which stylelint uses to parse .sass files. For some reason parser ignore mixins `+something`. So stylelint (and all other plugins) doesn't know anything about this types of mixins. I would suggest open an issue in parser repository or use `@include`.

[2019-10-27 16:14] #102 closed

[2019-11-19 12:44] mulholio commented on #63
Has anyone got a hack/solution for globally ignoring errors which contain `-styled-x`?

e.g.
[code]

[2019-11-24 22:25] PaulRBerg commented on #44
As per the csslint [wiki](https://github.com/CSSLint/csslint/wiki/Require-standard-property-with-vendor-prefix), sometimes it's recommended to have the standard version of the property after the vendor version, to ensure that it will work nevertheless.

I know that this kind of edge case is hard to handle, but it's kinda important, particularly to those that experiment with new css features.

[2019-11-24 22:27] hudochenkov commented on #44
@PaulRBerg this is correct. That's why prefixed properties always sorted before unprefixed properties with the same name.

[2019-12-04 03:12] SharakPL commented on #100
It did work in VSCode, but [last prettier update broke it](https://github.com/prettier/prettier/issues/7090)

[2019-12-06 11:19] caribou-code opened #103 "Doesn't autofix for Styled Components"
I have a custom order config on a project using Styled Components. A simple file example looks like this:

[code]

The linter correctly identifies that `border-bottom` should come before `background-color` in the `Wrapper` component. But when I run the lint command with `--fix` flag, the result is this:

[code]

So basically, it hasn't fixed the actual problem in `Wrapper` but has broken `ButtonSt

[2019-12-20 06:47] hgl opened #104 "Order for custom properties?"
It seems that there is no option to sort custom properties. Is it an intentional decision or it's planned?

[2019-12-20 08:45] hudochenkov commented on #104
I'm not sure if sorting custom properties is a safe operation and it won't break resulting CSS.

[2019-12-20 08:49] hgl commented on #104
@hudochenkov thanks for the quick reply.

Do you happen to know any case where it can break? I just checked the csswg, it doesn't seem to mention anything about order being important.

[2019-12-20 09:15] hudochenkov commented on #104
I don't have experience with custom properties, so I don't know of any cases when the order matters.

[2019-12-27 19:44] #94 closed

[2019-12-27 22:39] hudochenkov commented on #103
You're experience two things actually:

1. Reordering won't happen if styled component has interpolation. It's unsafe, because it might change the logic of a component. This is why you don't see properties reordered. It is safe just check the order, so this is why you see warning.
2. Broken output it's a problem with stylelint itself https://github.com/stylelint/stylelint/issues/4119.

I'm closing

[2019-12-27 22:39] #103 closed

[2019-12-27 22:44] hudochenkov commented on #100
I'm closing this, because there is nothing could be done in this plugin to achieve what is requested.

[2019-12-27 22:44] #100 closed

[2019-12-27 22:52] hudochenkov commented on #101
It's not possible, `threshold` counts all properties in a rule, not in a group. So in your example you have more than 4 properties in a rule, so all groups with `emptyLineBefore: 'threshold'` will enforce empty line before.

[2019-12-27 22:52] #101 closed

[2019-12-28 08:43] Spielboerg commented on #101
Ok, I did not know that, but as I said, the error also occurs at a threshold of 100 in the same example.

[2019-12-28 09:17] hudochenkov commented on #101
What happens with `emptyLineMinimumPropertyThreshold: 100`? BTW, you only need it in secondary options part of config, you don't need it specified for every group.

[2019-12-30 13:53] #87 closed

[2019-12-30 13:53] #95 closed

[2020-01-01 13:03] hudochenkov commented on #95
Improvement released in `stylelint-order@4.0.0`. Happy New Year!

[2020-01-01 13:03] hudochenkov commented on #87
Fix released in `stylelint-order@4.0.0`. Happy New Year!

[2020-01-09 16:46] Spielboerg commented on #101
Ah, after I set the `emptyLineMinimumPropertyThreshold: 100` only in the secondary options it works as intended, thank you :)

[2020-01-14 14:28] larsenwork commented on #104
I don't think the order is important — e.g. this
[code]
and this
[code]
does the exact same thing.

Let's say one would have alphabetic sorting then `--max-width` would be first but since it uses `--width` it seems a bit weird.

Not sure I'd ever want my custom props sorted but maybe I'm just missing a good use case.

[2020-01-14 18:58] hgl commented on #104
I’m in the hope that they might compress better, just like why you’d want to sort regular properties.

[2020-02-07 09:51] zilahir opened #106 "disable @include with a block (order/order)stylelint(order/order)"
How can I disable this rule?

![image](https://user-images.githubusercontent.com/6687149/74019349-26a27f00-49a0-11ea-995c-74291cc2d679.png)

[2020-02-07 10:39] hudochenkov commented on #106
Check you configuration, and reconfigure order in a way you like.

[2020-02-07 10:49] zilahir commented on #106
@hudochenkov thanks for your reply!

Yeah, i tried, but can't seem to get the configuration ready. Would you give me a suggestion please?

[2020-02-07 10:51] hudochenkov commented on #106
Show me your config, and tell me order you want for all things.

[2020-02-07 11:10] zilahir commented on #106
[code]

as you can see, in the `order/order` is the way i was playing with the settings.

The only thing i want is not to get error for the following

[code]

[2020-02-07 11:14] zilahir commented on #106
so basically i the best would be if it would pass both if the include with block are at the top, or at the bottom

[2020-02-07 12:12] hudochenkov commented on #106
Is this what you would like to achieve?

[code]

[2020-02-07 12:25] zilahir commented on #106
yes, @hudochenkov thank you, i was close, and now i got it understood!

thank you for your help!

[2020-02-07 12:25] #106 closed

[2020-02-07 12:27] hudochenkov commented on #106
You're welcome :)

[2020-02-17 16:36] peiblox opened #107 "Custom sort mixins between properties"
Let's have this use case.
[code]

With this config

[code]
It results in the following.

[code]

If I have the following config, I manage to order all the properties just fine, but I can't maintain the @include mixin between the properties. I can order it before or after the properties, but I can't order it in the _fonts_ section.

I can change the `at-rules` position, or split them to sort some `

[2020-02-17 16:45] hudochenkov commented on #107
I'm afraid it's not achievable with `order/order`. It will never be implemented in this plugin, because it's very rare use case.

[2020-02-17 16:45] #107 closed

[2020-02-20 14:32] PaulineNemchak opened #109 "Unknown rule order error with using ':root' selector"
Hello there, I have an error using :root selector, even in case I delete all other code.
[code]

My [.stylelintrc](https://gist.github.com/PaulineNemchak/2e493c3cbddfe06ed3049f0c70765830).

I don't understand why this problem occurs.

[2020-02-20 14:41] hudochenkov commented on #109
You need to add `stylelint-order` to `plugins` section of your config (you don't have any):

[code]

[2020-02-20 14:58] PaulineNemchak commented on #109
thanks a lot, seems missed it

[2020-02-20 14:58] #109 closed

[2020-02-20 14:59] hudochenkov commented on #109
Do you have a suggestion how to make it more clear in a readme? It would help new users.

[2020-03-19 20:29] crystalfp opened #111 ""Expected declaration to come before rule" for a scss shortcut"
Linting my scss file stylelint complains for constructs like this one:
[code]
stylelint complains on the "color" line with:
[code]
If I move the `font` shortcut after the color line, No error is reported.
In my opinion this is a bug, because `font: { ... }` is not a declaration, it is a shortcut for the two lines
`font-size: ...; font-weight: ...;`

I don't have explicitly installed the stylelint-

[2020-03-19 20:34] hudochenkov commented on #111
I'm afraid the only solution is to change nested properties to normal ones: `font-size` and `font-weight`. Nested properties are very rare, and adding support for them in this plugin doesn't make sense.

[2020-03-19 20:34] #111 closed

[2020-03-20 06:31] crystalfp commented on #111
Understand.
The workaround is to put these shortcut blocks as the last property.
Thanks!

[2020-03-23 14:03] felixfbecker commented on #104
I have a use case where I'd really like to order custom declarations, and I'd like to order them by their _value_ (with natural sorting). The use case is I have a file with all the z-indexes of the app defined as custom properties, and I'd like to have them in order to make it easy to see how they will stack. Example:
[code]

[2020-04-14 03:15] caberg opened #112 "Lazy person need properties order"
there's a lot of properties for css and i'm a lazy person. can you please share your best properties order here? thx before

[2020-04-14 07:14] hudochenkov commented on #112
There is no best order.

You can take a look at:

https://github.com/stormwarning/stylelint-config-recess-order
https://github.com/ream88/stylelint-config-idiomatic-order
https://github.com/cahamilton/stylelint-config-property-sort-order-smacss

Or use the following as a base:

<details>
<summary>Example config</summary>

[code]

</details>

[2020-04-14 07:14] #112 closed

[2020-04-16 17:24] oller commented on #71
The ol' 18month later bump.  I'm encountering this issue too, is it as easy a fix as the snippet in the thread above?

[2020-04-16 18:03] webdevnerdstuff opened #113 "Vendor Prefix Ordering"
Not really an issue, but  more of a question and/or feature request.

Is it possibly to allow the alpha sorting to allow vendor prefixed properties before the regular properties? I couldn't find it anywhere in the documentation.

Ex.
[code]

[2020-04-16 18:59] hudochenkov commented on #71
Pretty much. Add new keyword and add tests for it.

[2020-04-16 19:03] hudochenkov commented on #113
No, it's not possible. Prefixes are ignored for sorting.

You'll get this, because `-webkit-margin-start` sorted as `margin-start`:

[code]

However, of there is a property both prefixed and unprefixed, prefixed one will be in the beginning:

[code]

[2020-04-16 19:30] webdevnerdstuff commented on #113
There are VS Code extensions that do sort it in this manner. I would say it's more of a matter of adding the functionality or making it an added feature/option. By no means am I saying that's easy, as I'm not sure I could even figure it out. I looked at your source code for a minute before my head exploded thinking maybe I could give it a shot. :)

This VS Code Extension does sort a list in this w

[2020-04-16 20:04] hudochenkov commented on #113
That plugin doesn't know anything about CSS. In general special symbols like `-` go before letter in sort functions in JavaScript and everywhere else. That's why you see this behavior.

With behavior like this in CSS you'll get:

[code]

`transform` in two different places rather be together.

I'm afraid such behavior will not be added to `stylelint-order`.

[2020-04-16 20:17] webdevnerdstuff commented on #113
That is the wanted result, to have all vendor prefixes at the top, and other properties grouped below. Not to have the vendor prefix grouped with its corresponding property.

It would just be a nice to have, as that's how I have done it for many years, as well as everybody on my team, and other devs I have worked with. Different strokes for different folks I guess.  So it would be a nice feature t

[2020-04-16 20:17] #113 closed

[2020-04-16 20:34] oller commented on #71
Good stuff, shall try and find some time tomorrow.

On Thu, 16 Apr 2020 at 19:59, Aleks Hudochenkov <notifications@github.com>
wrote:

[2020-04-21 18:58] JacobDB opened #114 "Ordering pseudo elements and pseudo classes?"
I can't seem to find any information about requiring a certain position for pseudo elements (e.g. `::before`) or pseudo classes (e.g. `:first-child`), Is this something that is possible? I'm trying to set up rules to match a format similar to [this blog post](https://www.viget.com/articles/organizing-nested-selectors-in-sass/).

[2020-04-21 19:51] hudochenkov commented on #114
I think it's possible. Here some examples:

[code]

[2020-04-21 19:57] JacobDB commented on #114
Ohh! I must've completely missed the part in the docs that shows how to do regular expressions for rules! Thanks, I think this will get me on the right path!

[2020-04-21 19:57] #114 closed

[2020-04-23 23:12] hudochenkov opened #115 "Report warnings if they weren't fixed by autofix in `properties-alphabetical-order`"
Similar to the [`properties-order`](https://github.com/hudochenkov/stylelint-order/commit/5c03c7318cf1581cc17f457d7b96f223e84fe04e) `properties-alphabetical-order` should report warning which weren't fixed by autofix. It could happen in CSS-in-JS, if rule has interpolations. Then `postcss-sorting` will skip it to not break the users code.

Related to https://github.com/hudochenkov/stylelint-order/

[2020-05-03 22:40] zRelux opened #116 "Does this plugin work with styled-component?"
I was wondering if this plugin works with styled components.
If so if I could get a basic setup to try it out

[2020-05-03 23:13] hudochenkov commented on #116
It does. There are some limitation to autofixing (some times [it won't work](https://github.com/hudochenkov/stylelint-order#autofixing) to avoid breaking styles).

For basic setup you could try my config. Copy content of [this file](https://github.com/hudochenkov/stylelint-config-hudochenkov/blob/29cb804d26c97a715e42ea4d1e21090d61f7a3dc/order.js) to `.stylelintrc.js` in the root of your projects.

[2020-05-03 23:13] #116 closed

[2020-05-08 16:56] #85 closed

[2020-05-20 04:18] littlelark opened #118 "Update autofix to handle alpha-clockwise"
https://github.com/rp-magrathea/stylelint-order/blob/02d6932b0489a79d1fab3fe1084ea748bdb04b3e/README.md#L5-L5

[2020-06-15 08:04] OddieWallie opened #120 "Grouping and ordering"
Unless there is something we could already use to achieve this...

Would it be possible to alphabetise groups of attributes? For example:

[code]
We usually add a comment, to specify the grouping of our attributes. It would be nice if we could enforce ordering groups alphabetically as well.

I imagine we'd need to identify which comments reset the order, seeming as:
[code]
Might be worth enabling

[2020-06-15 08:30] hudochenkov commented on #120
If you have config [like this](https://github.com/stormwarning/stylelint-config-recess-order/blob/d810de94252e9d7bd50fca175e11b814f29a384d/index.js), you can order everything manually one time to your liking.

[2020-06-15 08:51] OddieWallie commented on #120
Even better! Hadn't even thought about fixing it like that. Thanks!

[2020-06-15 08:51] #120 closed

[2020-06-16 21:39] shirotech commented on #104
+1 it's much cleaner in alphabetical order, right now have to do it manually.

[2020-06-16 23:29] hudochenkov commented on #104
Looks like sorting custom properties wouldn't break CSS code logic, because it's properties. Unlike variables like in preprocessors.

I'm open for a pull request to add new rule.

* Name: `custom-properties-alphabetical-order`
* Primary option: `true`
* Secondary options: None
* Message: `Expected ${first} to come before ${second}`. E. g. “Expected --a-property to come before --b-property”.
* Desc

[2020-06-20 06:07] chris-dura opened #121 "Ignore alphabetical order if longhand TRBL?"
Alphabetical order keeps things very simple, and has a nice "I don't have to think about it" aspect, especially when working on several different projects where maintainers (if given the option) would probably have different opinions on how to group properties with `order/properties-order`.

However, one exception I've found is that ordering longhand properties in TRBL is usually preferred... inst

[2020-06-20 09:43] lkraav commented on #121
This probably happens because http://support.ecisolutions.com/doc-ddms/help/reportsmenu/ascii_sort_order_chart.htm

`-` has a lower ASCII order than `:`

Same thing happens on filesystems, where you'd probably want `repository.git` to appear before `repository-branch.git`.

`order/properties-alphabetical-order` could somehow allow defining your own character table, however long or short. If defaul

[2020-06-20 16:37] hudochenkov commented on #121
I would even remove this rule, because alphabetical order in CSS is against my believes. But many people find it useful.

Alphabetical order will always be alphabetical. Except few exceptions:

1. Shorthands properties. We make sure longhand properties are placed after shorthands. That's why `margin-*` are after `margin`. Here's a [list of all shorthands](https://github.com/hudochenkov/stylelint-o

[2020-06-20 16:37] #121 closed

[2020-06-20 20:01] lkraav commented on #121
Wait, but lint error is exactly the opposite to your claim?

`✖  Expected margin-bottom to come before margin-top       order/properties-alphabetical-order`

So which way is it really?

[2020-06-20 20:02] lkraav commented on #121
Nevermind, I missed it's vs another longhand, not `margin`. Horizontal scrollbar hid the meaty part!

[2020-06-22 05:51] iztsv opened #122 "no empty line after at-rule include"
Hello!

I have the following config and dependencies:

[code]

[code]

and `index.scss`:

[code]

after lint with autofix I expect:

[code]

but get (**no empty line after `@include no-block();`**):

[code]

if I add

[code]

the result will be (**no empty line between declarations groups**):

[code]

Is the problem in my configuration or it's problem in `stylelint-order`?

[2020-07-11 16:25] aress31 opened #123 "Plugin not working"
The plugin does not seem to work/lint my typescript code. Please see my following configuration:

- `.stylelintrc.json`:
[code]

- `packages.json`:
[code]

- Sample of my `CSS in JS` codes:
[code]

- Output of `yarn lint:stylelint`:
[code]

Am I doing anything wrong here? 🤔

[2020-07-11 20:13] hudochenkov commented on #123
You code example doesn't have any order violation according to your config.

[2020-07-12 02:32] aress31 commented on #123
Sorry it was just a bad example then, my bad...

@hudochenkov do you see anything wrong with my config?

[2020-07-12 10:26] hudochenkov commented on #123
Config looks good.

[2020-07-12 16:03] aress31 commented on #123
@hudochenkov I don't understand why I am getting no stylelint errors/warnings then, for example in my `footer.ts`:
[code]
And when running `stylelint` with the configuration in detailed in my previous posts:
[code]

[2020-07-12 20:33] hudochenkov commented on #123
There is no alphabetic order specified in your config. If you want alphabetical order, then you need to use `properties-alphabetical-order` rule instead of `properties-order`:

[code]

[2020-07-12 20:50] aress31 commented on #123
That's now working, thank you so much @hudochenkov!

[2020-07-28 20:12] mattaningram commented on #113
Not sure why this issue was closed, as far as I can tell this is not working even when ignoring the hyphen.

For example it says this is the correct sort order of these properties:
[code]
Since when does `L` come after `M` and `W`?

It's not always appropriate for `-` prefixed properties to go next to their unprefixed versions because sometimes there isn't an unprefixed version (`font-smoothing` d

[2020-09-29 07:46] XhmikosR opened #126 "Update to postcss 8.x."
Just opening an issue to track this :)

[2020-09-29 23:43] brachycera opened #127 "TypeError: Cannot read property 'unprefixed' of undefined"
The following two error messages occur in Sublime Text and VS-Code.

- Stylelint-order@4.1.0
- postcss@8.1.1

Possible related to #126.

## Sublime Error
[code]

## VS-Code Error
[code]

[2020-09-30 08:53] hudochenkov commented on #127
stylelint-order is not running on PostCSS 8 yet.

[2020-09-30 09:07] brachycera commented on #127
Thanks for your response Aleks. I just thought I put it here so others can see that stylelint-order isn't postCSS8 ready yet ;-)

[2020-09-30 09:55] hudochenkov commented on #127
How do you run it? Because stylelint didn't migrate to PostCSS 8 also.

[2020-09-30 11:00] brachycera commented on #127
I run stylelint@13.7.2 and postcss@8.1.1 globally and use them via https://github.com/stylelint/vscode-stylelint and https://github.com/SublimeLinter/SublimeLinter-stylelint. There is a config file under ~/.stylelint where I have defined some rules and the stylelint-order plugin.

[2020-10-04 19:15] hudochenkov commented on #123
Sorry, I somehow missed this.

1. There is a proposal for such rule: https://github.com/hudochenkov/stylelint-order/issues/104 But no one implemented it yet.
2. You probably need [`declaration-empty-line-before`](https://stylelint.io/user-guide/rules/declaration-empty-line-before) and other `*-empty-line-before` rules.

[2020-10-04 19:15] #123 closed

[2020-10-04 19:15] hudochenkov commented on #127
I'll close this one in favor of https://github.com/hudochenkov/stylelint-order/issues/126

[2020-10-04 19:15] #127 closed

[2020-10-04 19:16] hudochenkov commented on #126
Blocked by stylelint https://github.com/stylelint/stylelint/issues/4942. Plugin could not be using PostCSS 8 until stylelint using it.

[2020-10-06 15:10] runfaj opened #129 "Autofix conflict between order and properties-alphabetical-order"
I have the following setup for my order rule:
[code]
This works perfectly when viewing a file in an editor like vscode - marking the errors in all the right places.

However, when I do a stylelint fix, the ordering doesn't seem to match. Taking this code block for example, that was run after a lint fix:
[code]
You can see the alphabetical was applied, but not the order config. I would expect the f

[2020-10-11 18:01] Vihaan-Singhal commented on #42
I am facing the same problem

[2020-10-11 18:47] hudochenkov commented on #129
The last example does follow your config. Maybe I don't understand the issue you're facing. Does still showing lint errors? Does produce result that you're not expecting?

Could you show input code, and output code after `--fix`? Does still produce lint errors? What do you expect?

[2020-10-12 15:08] runfaj commented on #129
@hudochenkov Here's some screenshots so you can also see the red underlined errors.

Before `--fix`:

![image](https://user-images.githubusercontent.com/3292053/95761368-7214d780-0c69-11eb-9306-a6a7f774fafc.png)

After `--fix`:

![image](https://user-images.githubusercontent.com/3292053/95761212-3a0d9480-0c69-11eb-993a-d6e9870c09ab.png)

Here's the error happening due to the order config not being

[2020-10-12 19:59] runfaj commented on #129
@hudochenkov Magic! I didn't think to look at that, since I would have assumed it would be ignored in the processing if not a valid rule (like the other issue you linked to mentions). Thanks!

[2020-10-12 19:59] #129 closed

[2020-10-12 20:02] hudochenkov commented on #129
It should have show a message like other users pointed in #71. Maybe in VS Code it was suppressed.

[2020-10-13 21:40] abdonrd opened #130 "Add recommended config"
As the official `stylelint-config-recommended`, should be nice to have a order recommended config.

[2020-11-21 13:00] sanmai-NL commented on #46
@hudochenkov This doesn't apply if you use containers.

[2021-01-08 14:58] maksimsemenov opened #133 "It does not add an empty line between groups"
I'm trying to use `order/properties-order` rule with `emptyLineBefore: 'always'`, but it does not add an empty line.

Here is the repo with a reproducible example: https://github.com/maksimsemenov/stylelint-order-bug

If you run `npx stylelint src/**/*` it show an errors, that empty lin is missing. But if you run it with the fix options (`npx stylelint --fix src/**/*`) it doesn't show any errors,

[2021-01-08 22:28] hudochenkov commented on #133
Thanks for providing reproducible example!

`declaration-empty-line-before`, which is [set in `stylelint-config-standard`](https://github.com/stylelint/stylelint-config-standard/blob/8ea27ab960ee9eaf02ae6c689675f62c2a3ab3de/index.js#L50) removes an empty line. You need to disable this rule.

[2021-01-08 22:29] hudochenkov commented on #130
Properties order is very opinionated. There is an [example configs](https://github.com/hudochenkov/stylelint-order#example-configs) in the readme.

[2021-01-08 22:53] maksimsemenov commented on #133
Ohh, thanks! That makes sense now. Thanks for explaining this.

Will it be helpful to add this into docs? I can work on PR, but just want to check if it is something that is needed

[2021-01-08 22:56] hudochenkov commented on #133
Sounds like a good idea.

[2021-02-15 12:21] thernstig opened #135 "Order selectors, at-sign etc. outside of declaration blocks"
First, great plugin! :)

I was just wondering if there has been any thought about adding ordering of things outside of declaration blocks?

E.g. this:

[code]

Would instead get sorted with `--fix` to become:

[code]

In other words we can chose to order at-sign first in the file. And the rest in alphabetical order.
I am not sure if this would be of any value really, but thought I'd bring it up an

[2021-02-15 17:09] hudochenkov commented on #135
There is no value in this, in my opinion. Also, it could break CSS.

This makes `.a` blue on a screen 480px:

[code]

This makes `.a` red on a screen 480px:

[code]

Order is important here.

This plugin tries to report and fix things where order is not important for browser.

[2021-02-16 07:25] thernstig commented on #135
Ok thanks, yeah order is obviously important in that sense I should have thought of that.

At least future users can see this now if they wonder. Closing.

[2021-02-16 07:25] #135 closed

[2021-02-18 20:20] ramram1048 opened #136 "Cannot autofixing css-in-js template literal."
Cannot autofixing css-in-js template literal.
I just tested `styled-components` only but `Emotion` may can have same issue.
Reproduce code below:

### package.json
[code]

### Component.jsx
[code]
or
[code]

Running `npx stylelint "*.jsx" --syntax=css-in-js --fix` shows proper error, but the error doesn't fixed.

[2021-02-19 09:21] hudochenkov commented on #136
From readme:

It is impossible to auto fix order, when it has interpolation, and be sure that resulting CSS won't break. E. g. long hand property will be before shorthand.

[2021-02-19 09:21] #136 closed

[2021-03-12 14:30] dmorda opened #137 "Is it possible to apply alphabetical order to at-rules"
Is it possible to order at-rules alphabetically?

This is what I have...
[code]

This is what I want when alphabetized...
[code]

[2021-03-12 19:43] dmorda commented on #137
Ah, I didn't think of that approach. Thanks @hudochenkov. I'll close this one out.

[2021-03-12 19:43] #137 closed

[2021-03-16 02:34] saiichihashimoto commented on #63
It's been close to 2 years since @hudochenkov last commented on this. Is there a way we can move forward? Currently, using styled components and using this rule are mutually exclusive.

[2021-04-30 00:03] theKashey opened #139 "Per rule configuration"
Hey, it might sound a little strange, but I am thinking about different order settings _per file name_, as well as _per rule_.

Technically speaking that's probably stylelint level feature (combing rules), but I would like to start a conversation here, as it can be resolved here as well, but exposing [checkNodeForOrder](https://github.com/hudochenkov/stylelint-order/blob/master/rules/properties-or

[2021-05-02 12:02] hudochenkov commented on #139
_Per file_ config could be achieved with `overrides` option, but someone [needs to develop](https://github.com/stylelint/stylelint/issues/3128) it first.

I could understand why _per rule_ config might be needed for BEM. It seems quite specific and unique problem. Theoretically it could be achieved if new stylelint plugin would call this plugin per rule via [`stylelint.utils.checkAgainstRule`](htt

[2021-05-24 18:15] fraserredmond opened #143 "Make a custom stylelint-order for property containing a string variable"
I have scss that looks like this:
[code]
We set `$rightType: right;` for ltr languages like English, and `$rightType: left;` for rtl (right-to-left) languages like Arabic. So that `foo`'s position would be mirrored in a rtl layout.

When I use stylelint auto-fix on the above it changes to the following because the variables aren't recognised.
[code]

Is it possible to add a custom rule that define

[2021-06-15 05:29] theKashey commented on #114
That is perfect. Literally the last missing piece in the whole picture.

[2021-06-21 21:47] robsonsobral opened #147 "`emptyLineBefore` for all groups at once"
Hi! Thank you so much for help me keep tings organized!

Is there a way to enable `emptyLineBefore` for all groups? I'm using [recess](https://github.com/stormwarning/stylelint-config-recess-order), which has many groups, but no line among them.

Thank you so much!

[2021-06-21 23:13] hudochenkov commented on #147
There is not such functionality in `stylelint-order`. However, you could do it yourself with JavaScript. Since stylelint config could be a JavaScript file, you could modify recess config. Get configuration for properties order rule and add `emptyLineBefore` to each properties group:

[code]

[2021-06-21 23:13] #147 closed

[2021-07-01 17:02] Inokcode commented on #97
Anyone know
"Beware that due to limitations on what is possible for Stylelint custom processors we cannot support the --fix option"
https://styled-components.com/docs/tooling#stylelint

solution for auto fix styled components

[2021-08-04 09:44] loctran016 opened #148 "Conflict between properties-alphabetical-order and properties-order"
I use a duplicate property: `position: absolute` to show you the problem:

![image](https://user-images.githubusercontent.com/64778285/128159175-f46ec16e-9947-42aa-8a67-90094bcb2655.png)

My .stylelintrc.js:

[code]

[2021-08-12 06:58] striky-ct commented on #148
Did u try disable alphabetical order?

[code]

[2021-08-13 16:01] #148 closed

[2021-08-14 19:02] vxcamiloxv commented on #63
I had the same issue, disabling `"stylelint-processor-styled-components"` make this plugins works but in other hand `indentation` rule starting to had inconsistent behavior, with `"stylelint-processor-styled-components"` `order/properties-alphabetical-order` doesn't had the issue related with mixing, so in the end I prefer have the indentation working properly and I use https://github.com/tinloof/

[2021-09-07 06:59] patric-eberle opened #149 "Possible to place `all` before everything else?"
Is it possible to force the placement of the `all` property, which will reset every other property, before any other type with the basic `order`? From the documentation it is not clear to me how this could be achieved, since `order` only knows the keyword `declarations` as a whole.

https://developer.mozilla.org/en-US/docs/Web/CSS/all

[2021-09-07 08:17] hudochenkov commented on #149
You need to use `properties-order` rule for that.

[2021-11-09 19:38] npoliquin commented on #111
I have another issue. Our team use nested properties, because it's a feature that sass have.

If I used nested properties, stylelint-order put theses properties at the end. That means our code is perfectly reorder. The only exception is the nested properties.

**Result**
[code]

**Expected**
[code]

It's should be supported, because it's a sass feature.

[2021-12-11 18:59] MartinDelille opened #151 "Using threshold with yaml"
I'm wondering how is it possible to use the threshold feature using a configuration file written in YAML ?

I tried to convert the \[configuration example\](https://github.com/hudochenkov/stylelint-order/tree/master/rules/properties-order#emptylineminimumpropertythreshold) to this converter but the JSON is considered invalid: [https://www.json2yaml.com/](https://www.json2yaml.com/)

Thank you in a

[2021-12-12 00:23] hudochenkov commented on #151
Indeed there is an extra comma if read that code as JSON and not JavaScript.

YAML of that example:

[code]

[2021-12-12 00:23] #151 closed

[2021-12-12 00:27] hudochenkov commented on #143
I'm afraid it's not possible without changing half of a plugin for this specific use case and breaking others.

[2021-12-12 00:27] #143 closed

[2021-12-12 00:29] #130 closed

[2021-12-12 09:49] MartinDelille commented on #151
Thank you so much!

[2021-12-22 08:27] dartess opened #152 ""stylelint" as double dependency"
Hey! Can you please tell me why the "stylelint" is indicated twice, as peerDependencies and devDependencies?

[2021-12-22 14:59] #152 closed

[2021-12-29 11:35] iamobj opened #153 "`emptyLineBefore: "always"`,How not to have spaces in inline styles"
I need the style tag to have spaces, but I don't want them in the inline style,can this be done?
eg:
[code]

[2022-01-13 10:43] RicLeP commented on #133
What value is needed for `declaration-empty-line-before`? I’ve tried lots of values but with no success.

[2022-01-19 09:28] sumegha26 opened #154 "Is it possible to change severity of properties-order rule without new primary option values to use default order ?"
@hudochenkov,

`"order/properties-order": [ [],
      {
        "severity": "warning"
      }
    ]`

I wanted to change severity of `order/properties-order` as warning. With that don't wanted to specify any custom order but want to use default properties order. (not alphabetical).

Expected -

When I specify primary option as Empty array/undefined in properties - [],  Default order should be used

[2022-01-19 19:09] hudochenkov commented on #154
There is no default order. Plugin doesn't do anything unless order is specified by user. What do you mean by “default order”?

[2022-01-20 04:14] sumegha26 commented on #154
Okay, understood I will have to specify order.

Default order - I am using nx-stylelint which `extends` config `stylelint-config-idiomatic-order` in `stylelintrc.json`. I am looking for
1. default properties order used here so that I can specify order config in primary option and `severity` in secondary option or
2. a way to change `severity` without specifying the order

[2022-02-12 09:58] thasmo commented on #133
I want to use ...

[code]

... to force an empty line before a block of declarations.

Unfortunately setting this, empty lines between declarations via `order/properties-order` do not work anymore.

[2022-02-20 16:56] #154 closed

[2022-06-27 12:52] jpzwarte opened #159 "Exclude `rotate`, `scale` and `translate` from the alphabetical order rule"
See https://twitter.com/stefanjudis/status/1541365726266662912

Currently behaviour is that it wants to sort these properties alphabetically, but that changes the output.

So this is incorrect atm, but it shouldn't be:

[code]

`Expected scale to come before translate (order/properties-alphabetical-order)`

[2022-06-27 19:31] hudochenkov commented on #153
I see no way of achieving this. There is nothing stylelint ecosystem to know if it's inline style or `<style>`.

[2022-06-27 19:31] #153 closed

[2022-06-27 19:45] hudochenkov commented on #159
Indeed seems like an issue that needs to be fixed. Thank you for bringing an attention.

I never personally supported alphabetical order, so I'm not going to fix this. But if there is a pull request with the fix, I would be more than happy to accept it.

I wonder what would be acceptable automatic sorting for this use case.

- Group these properties and place them after all properties?
- What if t

[2022-06-27 19:47] hudochenkov commented on #139
Closing as `overrides` are supported in Stylelint now.

[2022-06-27 19:47] #139 closed

[2022-06-28 18:21] jpzwarte commented on #159
Apparently I misunderstood and it doesn't matter: https://twitter.com/bramus/status/1541788791677009922

[2022-06-28 18:21] #159 closed

[2022-06-28 19:00] hudochenkov commented on #159
I fell in the same trap :) I guess understanding how individual properties work in comparison to `transform` would leave many people puzzled.

[2022-08-14 13:54] hudochenkov commented on #122
From documentation:

It is expected behavior. I don't remember why it is like that.

[2022-09-26 19:11] viveleroi opened #161 "Allow vendor prefixed properties to come before others when sorting alphabetically"
Our app has the following block:

[code]

This plugin is warning that the vendor-prefixed properties are out of order, but this is the order we want. I don't see any way to fix this as-is.

[2022-09-27 15:33] hudochenkov commented on #161
Prefixes kind of ignored to determine an order. Both `-moz-osx-font-smoothing` and `-webkit-font-smoothing` are treated as `font-smoothing`. It makes clear that `font-smoothing` should be after `color` alphabetically.

[2022-09-27 15:33] #161 closed

[2022-09-27 15:35] viveleroi commented on #161
So there's no way to force the order we desire (prefixed first, then non-prefixed properties)?

[2022-10-14 14:24] Hai-San opened #163 "Combine single properties of defined groups"
Hello, I need to know if there is any way to apply the following rule:

Today I use the order/properties-order plugin and the result in some cases looks like this (And it's not wrong):
[code]

But what I want is:
When more than one group in properties-order contains only one property and emptyLineBefore is threshold, then it does not add emptyLineBefore. The expected result would be:
[code]
Or
[co

[2022-10-18 08:29] snebjorn opened #164 "`properties-order: null` causes: Unknown severity: "ignore""
Turning properties-order off by setting it to null

[code]

causes this error to be thrown when something is not sorted correctly.

[code]

A workaround is to
[code]

Also see
- https://github.com/constverum/stylelint-config-rational-order/issues/16
- https://github.com/constverum/stylelint-config-rational-order/issues/13#issuecomment-522421878

`order` doesn't seem to have this issue.
[code]

It'

[2022-10-18 17:43] hudochenkov commented on #164
Could you make a repository with reproducible issue?

[2022-10-18 20:34] snebjorn commented on #164
I'll cook something up :)
Gimmi a few days